<template>
  <article>
    <h1>Add a Learner</h1>

    <section>
      <div v-for="user in available_users" :key="user.id">
        {{ user.first_name }} {{ user.last_name }}
        <button @click.prevent="addLearner(user.id)" class="btn success">
          Add as Learner
        </button>
      </div>
    </section>

    <nuxt-link :to="{ name: 'organisations-id-courses-course_id', params: { id: course.organisation.id, course_id: course.id } }" class="btn back">
      <i class="fas fa-arrow-left" /> Back
    </nuxt-link>
  </article>
</template>

<script>
export default {
  layout: 'user',
  middleware: ['auth'],
  async asyncData ({ $axios, params }) {
    const response = await $axios.$get(`/organisations/organisations/${params.id}/courses/${params.course_id}/available_users`)
    return {
      course: response.course,
      available_users: response.available_users
    }
  },
  data () {
    return {
      course: '',
      available_users: ''
    }
  },
  methods: {
    async addLearner (userId) {
      await this.$axios.$patch(`/organisations/organisations/${this.course.organisation.id}/courses/${this.course.id}/add_learner`, { user_id: userId })
        .then((res) => {
          this.available_users = res.available_users
        }).catch((error) => {
          // Check that the error is 422
          if (error.response.status === 422) {
            // Do Nothing
          } else {
            this.$router.push('/platform-error')
          }
        })
    }
  }
}
</script>
