<template>
  <article>
    <h1>New Course</h1>
    <form @submit.prevent="update">
      <div class="field">
        <label>Name</label>
        <input v-model.trim="form.course.name" type="text" autofocus>
        <div v-if="errors.name" class="errors">
          <i class="fas fa-exclamation-circle" /> Name {{ errors.name[0] }}
        </div>
      </div>

      <div class="field">
        <label>Description</label>
        <client-only>
          <vue-simplemde v-model="form.course.description" />
        </client-only>
      </div>

      <div class="field">
        <label>Sign up method</label>
        <select v-model="form.course.sign_up_mode">
          <option value="">
            -- Please Select --
          </option>
          <option v-for="option in mode_options" :key="option.id" :value="option.id">
            {{ option.label }}
          </option>
        </select>
        <div v-if="errors.sign_up_mode" class="errors">
          <i class="fas fa-exclamation-circle" /> Sign up mode {{ errors.sign_up_mode[0] }}
        </div>
      </div>

      <div class="field">
        <label>Sign up code</label>
        <input v-model.trim="form.course.sign_up_code" type="text" autofocus>
        <div v-if="errors.sign_up_code" class="errors">
          <i class="fas fa-exclamation-circle" /> Sign up code {{ errors.sign_up_code[0] }}
        </div>
      </div>

      <button type="submit">
        Update Course
      </button>
    </form>

    <nuxt-link :to="{ name: 'organisations-id-courses-course_id', params: { id: organisation.id, course_id: course.id } }" class="btn back">
      <i class="fas fa-arrow-left" /> Back
    </nuxt-link>
  </article>
</template>

<script>
export default {
  layout: 'user',
  middleware: ['auth'],
  async asyncData ({ $axios, params }) {
    const response = await $axios.$get(`/organisations/organisations/${params.id}/courses/${params.course_id}`)
    return {
      organisation: response.course.organisation,
      course: response.course,
      form: {
        course: {
          name: response.course.name,
          description: response.course.description,
          sign_up_mode: response.course.sign_up_mode,
          sign_up_code: response.course.sign_up_code
        }
      }
    }
  },
  data () {
    return {
      organisation: '',
      course: '',
      form: {
        course: {
          name: '',
          description: ''
        }
      },
      mode_options: [
        { id: 'hidden', label: 'None' },
        { id: 'password', label: 'Password' },
        { id: 'code_only', label: 'Code' },
        { id: 'open', label: 'Open' }
      ]
    }
  },
  methods: {
    async update () {
      await this.$axios.$patch(`/organisations/organisations/${this.organisation.id}/courses/${this.course.id}`, this.form)
        .then((res) => {
          this.$router.push(`/organisations/${this.organisation.id}/courses/${res.course.id}`)
        }).catch((error) => {
          // Check that the error is 422
          if (error.response.status === 422) {
            // Do Nothing
          } else {
            this.$router.push('/platform-error')
          }
        })
    }
  }
}
</script>
