<template>
  <article>
    <h1>{{ course.name }}</h1>
    <div v-if="course.description" class="description" v-html="$md.render(course.description)" />
    <div class="teachers">
      <i class="fas fa-user-graduate" />
      <span v-for="teacher in course.teachers" :key="teacher.id">
        {{ teacher.first_name }} {{ teacher.last_name }}
      </span>
    </div>
    <div class="learners">
      <i class="fas fa-users" />
      {{ course.learners.length }}
    </div>
    <nuxt-link v-if="course.can_edit" :to="{ name: 'organisations-id-courses-course_id-edit', params: { id: course.organisation.id, course_id: course.id } }" class="btn warning">
      Edit
    </nuxt-link>
    <nuxt-link v-if="course.can_edit" :to="{ name: 'organisations-id-courses-course_id-add-teacher', params: { id: course.organisation.id, course_id: course.id } }" class="btn success">
      Add Teacher
    </nuxt-link>
    <nuxt-link v-if="course.can_edit" :to="{ name: 'organisations-id-courses-course_id-add-learner', params: { id: course.organisation.id, course_id: course.id } }" class="btn success">
      Add Learner
    </nuxt-link>
    <nuxt-link v-if="course.can_edit" :to="{ name: 'organisations-id-courses-course_id-users', params: { id: course.organisation.id, course_id: course.id } }" class="btn info">
      Users
    </nuxt-link>

    <section class="lessons_list">
      <h2>Lessons</h2>

      <nuxt-link v-if="course.can_edit" :to="{ name: 'organisations-id-courses-course_id-new-lesson', params: { id: course.organisation.id, course_id: course.id } }" class="btn success">
        New Lesson
      </nuxt-link>

      <ul>
        <li v-for="lesson in course.lessons" :key="lesson.id">
          <nuxt-link :to="{ name: 'organisations-id-courses-course_id-lessons-lesson_id', params: { id: course.organisation.id, course_id: course.id, lesson_id: lesson.id } }">
            {{ lesson.title }}
          </nuxt-link>
          <button v-if="course.can_edit" class="up" @click.prevent="moveUp(lesson.id)">
            <span>
              <i class="fas fa-chevron-up" />
            </span>
          </button>
          <button v-if="course.can_edit" class="down" @click.prevent="moveDown(lesson.id)">
            <span>
              <i class="fas fa-chevron-down" />
            </span>
          </button>
          <button v-if="course.can_edit" class="delete" @click.prevent="deleteLesson(lesson.id)">
            <span>
              <i class="fas fa-trash-alt" />
            </span>
          </button>
        </li>
      </ul>
    </section>

    <nuxt-link :to="{name: 'organisations-id', params: { id: course.organisation.id }}" class="btn back">
      <i class="fas fa-arrow-left" /> Back
    </nuxt-link>
  </article>
</template>

<script>
export default {
  layout: 'user',
  middleware: ['auth'],
  async asyncData ({ $axios, params }) {
    const response = await $axios.$get(`/organisations/organisations/${params.id}/courses/${params.course_id}`)
    return {
      course: response.course
    }
  },
  data () {
    return {
      course: ''
    }
  },
  methods: {
    async moveUp (lessonId) {
      const response = await this.$axios.$patch(`/organisations/organisations/${this.course.organisation.id}/courses/${this.course.id}/lessons/${lessonId}/move_up`)
      this.course = response.course
    },
    async moveDown (lessonId) {
      const response = await this.$axios.$patch(`/organisations/organisations/${this.course.organisation.id}/courses/${this.course.id}/lessons/${lessonId}/move_down`)
      this.course = response.course
    },
    async deleteLesson (lessonId) {
      await this.$axios.$delete(`/organisations/organisations/${this.course.organisation.id}/courses/${this.course.id}/lessons/${lessonId}`)
        .then((res) => {
          this.course.lessons = res.lessons
        }).catch((error) => {
          // Check that the error is 422
          if (error.response && error.response.status === 422) {
            // Do Nothing
          } else {
            this.$router.push('/platform-error')
          }
        })
    }
  }
}
</script>

<style lang="scss" scoped>
  UL {
    list-style: none;
    margin: 0;
    padding: 0;

    LI {
      display: grid;
      grid-template-columns: 1fr 3rem 3rem 3rem;
      min-height: 3rem;
      background-color: $light_grey;

      &:nth-child(even) {
        background-color: $grey;
      }

      A {
        @include display_flex_start;
        color: $navy;
        font-size: 1.2rem;
        font-weight: 400;
        text-decoration: none;
        padding: 0 0.5rem;
        grid-column: 1;
      }

      .up {
        grid-column: 2;
      }

      .down {
        grid-column: 3;
      }

      BUTTON {
        background-color: transparent;
        color: $blue;
        @include display_flex_center;
        margin: 0;
        padding: 0;
        width: 100%;
        cursor: pointer;
        border: none;

        SPAN {
          @include display_flex_center;
          height: 3rem;
          width: 3rem;
        }

        &:hover {
          background-color: transparent;

          SPAN {
            width: 1.5rem;
            height: 1.5rem;
            border: 2px solid $blue;
            border-radius: 50%;
            border-top-left-radius: 0px;
            transition: 0.5s;
            transform: rotate(45deg);
            color: $blue;

            I {
              transform: rotate(-45deg);
            }
          }
        }

        &.down {
          color: $pink;

          &:hover {
            SPAN {
              border-color: $pink;
              border-radius: 50%;
              border-bottom-right-radius: 0px;
              color: $pink;
            }
          }
        }

        &.delete {
          grid-column: 4;
          color: $red;

          &:hover {
            SPAN {
              border-color: $red;
              border-radius: 50%;
              border-top-right-radius: 0px;
              color: $red;
            }
          }
        }
      }

      &:first-child {
        .up {
          display: none;
        }
      }

      &:last-child {
        .down {
          display: none;
        }
      }
    }
  }
</style>
