<template>
  <article class="center_content">
    <div>
      <h1>Join {{ course.name }}</h1>
      <form @submit.prevent="join">
        <div v-if="course.sign_up_mode === 'open'">
          <p>Are you sure you want to join this course?</p>
          <button type="submit">
            Yes
          </button>
          <nuxt-link :to="{ name: 'organisations-id', params: { id: course.organisation.id } }" class="btn danger">
            No
          </nuxt-link>
        </div>
        <div v-else-if="course.sign_up_mode === 'password'">
          <div class="field">
            <label>Password</label>
            <input type="text" v-model.trim="form.course.code">
            <div v-if="errors.code" class="errors">
              <i class="fas fa-exclamation-circle" /> Password {{ errors.code[0] }}
            </div>
          </div>

          <button type="submit">
            Join
          </button>
        </div>
        <div v-else>
          You are not able to join this course.
          <nuxt-link :to="{ name: 'organisations-id', params: { id: course.organisation.id } }" class="btn back">
            <i class="fas fa-arrow-left" /> Back
          </nuxt-link>
        </div>
      </form>
    </div>
  </article>
</template>

<script>

export default {
  layout: 'user',
  middleware: ['auth'],
  async asyncData ({ $axios, params }) {
    const response = await $axios.$get(`/organisations/organisations/${params.id}/courses/${params.course_id}`)
    return {
      course: response.course
    }
  },
  data () {
    return {
      course: '',
      form: {
        course: {
          code: ''
        }
      }
    }
  },
  methods: {
    async join () {
      await this.$axios.$patch(`/organisations/organisations/${this.course.organisation.id}/courses/${this.course.id}/join_course`, this.form)
        .then((res) => {
          this.$router.push(`/organisations/${this.course.organisation.id}/courses/${this.course.id}`)
        }).catch((error) => {
          // Check that the error is 422
          if (error.response.status === 422) {
            // Do Nothing
          } else {
            this.$router.push('/platform-error')
          }
        })
    }
  }
}
</script>

<style lang="scss" scoped>
  .center_content {
    height: 100%;
    width: 100%;
    @include display_flex_center;

    > DIV {
      width: 90%;
    }
  }
</style>
