<template>
  <article>
    <h1>{{ course.name }}</h1>

    <div class="split">

      <section v-if="course.can_edit" class="learners">
        <h2>Learners</h2>
        <ul>
          <li v-for="learner in course.learners" :key="learner.id">
            <div>
              {{ learner.first_name }} {{ learner.last_name }}
            </div>
            <button class="btn success" @click.prevent="promote(learner.id)">
              Make a Teacher
            </button>
          </li>
        </ul>
      </section>

      <section class="teachers">
        <h2>Teachers</h2>
        <ul>
          <li v-for="teacher in course.teachers" :key="teacher.id">
            <div>
              {{ teacher.first_name }} {{ teacher.last_name }}
            </div>
            <button v-if="$auth.user.email !== teacher.email && course.owner.id !== teacher.id" class="btn success" @click.prevent="demote(teacher.id)">
              Make a Learner
            </button>
          </li>
        </ul>
      </section>

    </div>

    <nuxt-link :to="{ name: 'organisations-id-courses-course_id', params: { id: course.organisation.id, course_id: course.id } }" class="btn back">
      <i class="fas fa-arrow-left" /> Back
    </nuxt-link>
  </article>
</template>

<script>
export default {
  layout: 'user',
  middleware: ['auth'],
  async asyncData ({ $axios, params }) {
    const response = await $axios.$get(`/organisations/organisations/${params.id}/courses/${params.course_id}`)
    return {
      course: response.course
    }
  },
  data () {
    return {
      course: ''
    }
  },
  methods: {
    async promote (userId) {
      const response = await this.$axios.$patch(`/organisations/organisations/${this.course.organisation.id}/courses/${this.course.id}/promote`, { user_id: userId })
      this.course = response.course
    },
    async demote (userId) {
      const response = await this.$axios.$patch(`/organisations/organisations/${this.course.organisation.id}/courses/${this.course.id}/demote`, { user_id: userId })
      this.course = response.course
    }
  }
}
</script>

<style lang="scss" scoped>
  UL {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  DIV.split {

    @include landscape_tablet {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
    }

    SECTION {
      width: 100%;
      margin: 1rem 0;
      H2 {
        background-color: $navy;
        color: $white;
        margin: 0;
        padding: 0.5rem;
        box-sizing: border-box;
      }

      UL {
        LI {
          background-color: $light_grey;

          &:nth-child(even) {
            background-color: $grey;
          }

          @include landscape_tablet {
            display: grid;
            grid-template-columns: 3fr 2fr;
          }

          @include desktop {
            display: grid;
            grid-template-columns: 1fr auto;
          }

          DIV {
            padding: 0.5rem;
          }

          BUTTON {
            margin: 0;
          }
        }
      }
    }
  }
</style>
