<template>
  <div>
    <article>
      <h1>{{ course.name }}</h1>

      <section class="details">
        <div class="teachers">
          <div class="label">
            <i class="fas fa-user-graduate" /> Teachers
          </div>
          <div class="names">
            <span v-for="teacher in course.teachers" :key="teacher.id">
              {{ teacher.first_name }} {{ teacher.last_name }}
            </span>
          </div>
        </div>
        <div class="description" v-html="$md.render(course.description)" />
      </section>
      <section class="lessons">
        <h2>Lessons</h2>

        <ul>
          <li v-for="lesson in course.lessons" :key="lesson.id">
            <nuxt-link :to="{ name: 'my-courses-course_id-lesson-lesson_id', params: { course_id: course.id, lesson_id: lesson.id } }">
              <h3>{{ lesson.title }}</h3>
              <p>{{ lesson.snippet }}</p>
            </nuxt-link>
          </li>
        </ul>
      </section>
    </article>

    <nuxt-link to="/my-courses" class="btn back">
      <i class="fas fa-arrow-left" />
      Back
    </nuxt-link>
  </div>
</template>

<script>
export default {
  layout: 'user',
  middleware: ['auth'],
  async asyncData ({ $axios, params }) {
    const response = await $axios.$get(`/learners/courses/${params.course_id}`)
    return {
      course: response.course
    }
  },
  data () {
    return {
      course: ''
    }
  }
}
</script>

<style lang="scss" scoped>
  ARTICLE {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;

    H1 {
      margin: 0;
      padding: 0;
      font-size: 3rem;
    }

    .teachers {
      .label {
        color: $white;
        background-color: $navy;
        padding: 0.5rem;
        box-sizing: border-box;
        text-align: center;
      }
      SPAN {
        width: 100%;
        padding: 0.5rem;
        box-sizing: border-box;
        text-align: center;
        display: block;
        background-color: $light_grey;
        margin-right: 0.5rem;

        &:nth-child(even) {
          background-color: $grey;
        }
      }

      @include desktop {
        display: grid;
        grid-template-columns: auto 1fr;

        .label {
          padding: 0 1rem;
          @include display_flex_center;
        }
        DIV.names {
          background-color: $light_grey;
          @include display_flex_start;
          SPAN {
            width: auto;

            &:nth-child(even) {
              background-color: $light_grey;
            }
          }
        }
      }
    }

    SECTION.lessons {
      H2 {
        background-color: $navy;
        color: $white;
        padding: 0.5rem;
        margin: 0;
        box-sizing: border-box;
      }

      UL {
        list-style: none;
        margin: 0;
        padding: 0;

        LI {
          display: block;
          background-color: $light_grey;

          &:nth-child(even) {
            background-color: $grey;
          }

          A {
            display: block;
            margin: 0;
            padding: 0.5rem;
            color: $navy;
            text-decoration: none;
            transition: 0.5s;

            &:hover {
              background-color: $light_blue;
              transition: 0.5s;
            }

            H3 {
              margin: 0;
            }
          }
        }
      }
    }

    @include landscape_tablet {
      grid-template-columns: 1fr 1fr;

      H1 {
        grid-column: 1 / 3;
      }
    }

    @include desktop {
      grid-template-columns: 3fr 2fr;
    }
  }
</style>
