<template>
  <div>
    <article>
      <h1>{{ lesson.title }}</h1>

      <section class="description" v-html="$md.render(lesson.description)" />

      <section class="sections">
        <h2>Sections</h2>

        <ul>
          <li v-for="section in lesson.sections" :key="section.id">
            <nuxt-link
              :to="{ name: 'my-courses-course_id-lesson-lesson_id-section-section_id', params: { course_id: course.id, lesson_id: lesson.id, section_id: section.id } }"
            >
              {{ section.title }}
            </nuxt-link>
          </li>
        </ul>
      </section>
    </article>

    <div class="buttons">
      <button @click.prevent="presentLesson" class="btn present">
        <i class="fas fa-desktop" />
        Present
      </button>
      <nuxt-link :to="{ name: 'my-courses-course_id', params: { course_id: course.id } }" class="btn back">
        <i class="fas fa-arrow-left" />
        Back
      </nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'user',
  middleware: ['auth'],
  async asyncData ({ $axios, params }) {
    const response = await $axios.$get(`/learners/courses/${params.course_id}/lessons/${params.lesson_id}`)
    return {
      course: response.course,
      lesson: response.lesson
    }
  },
  data () {
    return {
      course: '',
      lesson: ''
    }
  },
  methods: {
    presentLesson () {
      this.$store.dispatch('presentation/setupPresentation', { path: this.$nuxt.$route.path, lesson: this.lesson.id })
      this.$router.push(`/present/${this.lesson.id}/title`)
    }
  }
}
</script>

<style lang="scss" scoped>
  ARTICLE {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;

    H1 {
      font-size: 2.5rem;
      margin: 0;
      padding: 0 0.5rem;
    }

    SECTION.description {
      padding: 0 0.5rem;
    }

    SECTION.sections {
      H2 {
        background-color: $navy;
        color: $white;
        margin: 0;
        padding: 0.5rem;
      }

      UL {
        margin: 0;
        padding: 0;
        list-style: none;

        LI {
          background-color: $light_grey;

          &:nth-child(even) {
            background-color: $grey;
          }

          A {
            display: block;
            text-decoration: none;
            color: $navy;
            padding: 0.5rem;

            &:hover {
              background-color: $light_blue;
            }
          }
        }
      }
    }

    @include landscape_tablet {
      grid-template-columns: 1fr 1fr;

      H1 {
        grid-column: 1 / 3;
        padding-bottom: 1rem;
      }
    }

    @include desktop {
      grid-template-columns: 3fr 2fr;
    }
  }

  .buttons {
    margin-top: 1rem;

    > A.btn.back {
      margin: 0;
    }

    > BUTTON.btn.present {
      margin: 0;
    }

    @include landscape_tablet {
      display: flex;
      flex-direction: row-reverse;

      @include desktop {
        justify-content: flex-end;
      }

      > A, BUTTON {
        flex: 1;
      }
    }

    @include desktop {
      > A, BUTTON {
        flex: 0;
        @include display_flex_center;
        flex-direction: row;
        margin-right: 0.5rem !important;

        I {
          margin-right: 0.3rem;
        }
      }
    }
  }
</style>
