<template>
  <div>
    <article>
      <h1>{{ section.title }}</h1>

      <div class="actions">
        <div v-if="previousSection" class="previous">
          <nuxt-link :to="{ name: 'my-courses-course_id-lesson-lesson_id-section-section_id', params: { course_id: course.id, lesson_id: lesson.id, section_id: previousSection.id } }" class="icon previous">
            <i class="fas fa-chevron-left" />
          </nuxt-link>
        </div>
        <div v-if="nextSection" class="next">
          <nuxt-link :to="{ name: 'my-courses-course_id-lesson-lesson_id-section-section_id', params: { course_id: course.id, lesson_id: lesson.id, section_id: nextSection.id } }" class="icon next">
            <i class="fas fa-chevron-right" />
          </nuxt-link>
        </div>
      </div>

      <section class="details">
        <div v-for="block in section.blocks" :key="block.id">
          <HandleBlock :block="block" />
        </div>
      </section>
      <section class="sections">
        <h2>Sections</h2>

        <ul>
          <li v-for="section in lesson.sections" :key="section.id">
            <nuxt-link :to="{ name: 'my-courses-course_id-lesson-lesson_id-section-section_id', params: { course_id: course.id, lesson_id: lesson.id, section_id: section.id } }">
              {{ section.title }}
            </nuxt-link>
          </li>
        </ul>
      </section>
    </article>

    <nuxt-link :to="{ name: 'my-courses-course_id-lesson-lesson_id', params: { course_id: course.id, lesson_id: lesson.id } }" class="btn back">
      <i class="fas fa-arrow-left" />
      Back
    </nuxt-link>
  </div>
</template>

<script>
import HandleBlock from '@/components/blocks/handle-block'

export default {
  layout: 'user',
  middleware: ['auth'],
  components: {
    HandleBlock
  },
  async asyncData ({ $axios, params }) {
    const response = await $axios.$get(`/learners/courses/${params.course_id}/lessons/${params.lesson_id}/sections/${params.section_id}`)
    return {
      course: response.course,
      lesson: response.lesson,
      section: response.section,
      nextSection: response.next_section,
      previousSection: response.previous_section
    }
  },
  data () {
    return {
      course: '',
      lesson: '',
      section: '',
      nextSection: '',
      previousSection: ''
    }
  }
}
</script>

<style lang="scss" scoped>
  ARTICLE {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;

    H1 {
      font-size: 2.5rem;
      margin: 0;
      padding: 0 0.5rem;
    }

    .actions {
      display: grid;
      grid-template-columns: 4rem 1fr 4rem;

      > DIV {
        @include display_flex_center;
      }

      DIV.next {
        grid-column: 3;
      }

      DIV.previous {
        grid-column: 1;
      }
    }

    SECTION.details {
      padding: 0 0.5rem;
      box-sizing: border-box;
      width: 100%;
    }

    SECTION.sections {
      H2 {
        background-color: $navy;
        color: $white;
        margin: 0;
        padding: 0.5rem;
      }

      UL {
        margin: 0;
        padding: 0;
        list-style: none;

        LI {
          background-color: $light_grey;

          &:nth-child(even) {
            background-color: $grey;
          }

          A {
            display: block;
            text-decoration: none;
            color: $navy;
            padding: 0.5rem;

            &:hover {
              background-color: $light_blue;
            }
          }
        }
      }
    }

    @include desktop {
      height: calc(100vh - 10.25rem);
      grid-template-columns: 3fr 2fr;
      grid-template-rows: auto 1fr;

      .details {
        overflow: hidden;
        overflow-y: auto;
      }

      H1 {
        grid-column: 1;
        padding-bottom: 1rem;
      }

      .actions {
        grid-column: 2;
      }
    }
  }
</style>
