<template>
  <article>
    <h1>{{ organisation.name }} - Create a Teacher</h1>
    <form @submit.prevent="createTeacher">
      <div class="field">
        <label>First Name</label>
        <input v-model.trim="form.user.first_name" type="text">
      </div>

      <div class="field">
        <label>Last Name</label>
        <input v-model.trim="form.user.last_name" type="text">
      </div>

      <div class="field">
        <label>Email</label>
        <input v-model.trim="form.user.email" type="email">
      </div>

      <div class="field">
        <label>Password</label>
        <input v-model.trim="form.user.password" type="password">
      </div>

      <div class="field">
        <label>Password Confirmation</label>
        <input v-model.trim="form.user.password_confirmation" type="password">
      </div>

      <button type="submit">
        Create Teacher
      </button>

      <nuxt-link :to="{name: 'organisations-id', params: { id: organisation.id }}" class="btn back">
        <i class="fas fa-arrow-left" /> Back
      </nuxt-link>
    </form>
  </article>
</template>

<script>
export default {
  layout: 'user',
  middleware: ['auth'],
  async asyncData ({ $axios, params }) {
    const response = await $axios.$get(`/organisations/organisations/${params.id}`)
    return {
      organisation: response.organisation
    }
  },
  data () {
    return {
      organisation: '',
      form: {
        user: {
          email: '',
          password: '',
          password_confirmation: '',
          first_name: '',
          last_name: ''
        }
      }
    }
  },
  methods: {
    async createTeacher () {
      await this.$axios.$post(`/organisations/organisations/${this.organisation.id}/create_teacher`, this.form)
      this.$router.push(`/organisations/${this.organisation.id}`)
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
