<template>
  <article>
    <h1>Edit {{ form.organisation.name }}</h1>
    <form @submit.prevent="update">
      <div class="field">
        <label>Name</label>
        <input v-model.trim="form.organisation.name" type="text" autofocus>
        <div v-if="errors.name" class="errors">
          <i class="fas fa-exclamation-circle" /> Name {{ errors.name[0] }}
        </div>
      </div>

      <div class="field">
        <label>Description</label>
        <client-only>
          <vue-simplemde v-model="form.organisation.description" />
        </client-only>
      </div>

      <div class="field">
        <label>Sign up method</label>
        <select v-model="form.organisation.sign_up_mode">
          <option value="">
            -- Please Select --
          </option>
          <option v-for="option in mode_options" :key="option.id" :value="option.id">
            {{ option.label }}
          </option>
        </select>
        <div v-if="errors.sign_up_mode" class="errors">
          <i class="fas fa-exclamation-circle" /> Name {{ errors.sign_up_mode[0] }}
        </div>
      </div>

      <div class="field">
        <label>Sign up code</label>
        <input v-model.trim="form.organisation.sign_up_code" type="text" name="sign_up_code">
      </div>

      <button type="submit">
        Update Organisation
      </button>
    </form>

    <nuxt-link :to="{name: 'organisations-id', params: { id: form.organisation.id }}" class="btn back">
      <i class="fas fa-arrow-left" /> Back
    </nuxt-link>
  </article>
</template>

<script>

export default {
  layout: 'user',
  middleware: ['auth'],
  async asyncData ({ $axios, params }) {
    const response = await $axios.$get(`/organisations/organisations/${params.id}`)
    return {
      form: {
        organisation: response.organisation
      }
    }
  },
  data () {
    return {
      form: {
        organisation: {
          name: '',
          description: '',
          sign_up_mode: '',
          sign_up_code: ''
        }
      },
      mode_options: [
        { id: 'no_sign_up', label: 'None' },
        { id: 'code', label: 'Code' }
      ]
    }
  },
  methods: {
    async update () {
      await this.$axios.$patch(`/organisations/organisations/${this.form.organisation.id}`, this.form)
        .then((res) => {
          this.$router.push(`/organisations/${this.form.organisation.id}`)
        }).catch((error) => {
          // Check that the error is 422
          if (error.response.status === 422) {
            // Do Nothing
          } else {
            this.$router.push('/platform-error')
          }
        })
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
