<template>
  <div>
    <article>
      <section class="details">
        <h1>{{ organisation.name }}</h1>
        <div v-if="organisation.description" class="description" v-html="$md.render(organisation.description)" />
      </section>

      <section class="actions">
        <nuxt-link v-if="organisation.user_can_edit" :to="{ name: 'organisations-id-add-teacher', params: { id: organisation.id } }" class="btn success">
          Add a Teacher
        </nuxt-link>
        <nuxt-link v-if="organisation.user_can_edit" :to="{ name: 'organisations-id-add-learner', params: { id: organisation.id } }" class="btn success">
          Add a Learner
        </nuxt-link>
        <nuxt-link v-if="organisation.user_can_edit" :to="{ name: 'organisations-id-edit', params: { id: organisation.id } }" class="btn warning">
          Edit
        </nuxt-link>
      </section>

      <section class="data_box courses">
        <div class="header">
          <h2>Courses</h2>
          <div>
            <nuxt-link v-if="organisation.user_can_edit" :to="{ name: 'organisations-id-new-course', params: { id: organisation.id } }" class="btn success">
              New Course
            </nuxt-link>
          </div>
        </div>

        <ul>
          <li v-for="course in organisation.courses" :key="course.id">
            <div>
              <h3>{{ course.name }}</h3>
              <p class="snippet">{{ course.snippet }}</p>
            </div>
            <nuxt-link v-if="course.can_view" :to="{ name: 'organisations-id-courses-course_id', params: { id: organisation.id, course_id: course.id } }" class="btn info">
              Open
            </nuxt-link>
            <nuxt-link v-else-if="course.sign_up_mode === 'password' || course.sign_up_mode === 'open'" :to="{ name: 'organisations-id-courses-course_id-join', params: { id: organisation.id, course_id: course.id } }" class="btn info">
              Join
            </nuxt-link>
          </li>
        </ul>
      </section>

      <section v-if="organisation.user_can_edit" class="data_box users">
        <div class="header">
          <h2>Users</h2>
        </div>
        <ul>
          <li v-for="user in organisation.users" :key="user.id">
            <div class="details">
              <h3>{{ user.first_name }} {{ user.last_name }}</h3>
              <p>{{ user.email }}</p>
            </div>
            <button v-if="user.id != organisation.owner.id && organisation.user_can_edit && user.can_edit !== true" class="btn success" @click="promote(user.id)">
              Promote
            </button>
            <button v-if="user.id != organisation.owner.id && organisation.user_can_edit && user.can_edit === true" class="btn warning" @click="demote(user.id)">
              Demote
            </button>
            <button v-if="user.id != organisation.owner.id && organisation.user_can_edit" class="btn danger" @click="unlink(user.id)">
              Remove
            </button>
          </li>
        </ul>
      </section>
    </article>

    <nuxt-link to="/organisations" class="btn back">
      <i class="fas fa-arrow-left" /> Back
    </nuxt-link>
  </div>
</template>

<script>
export default {
  layout: 'user',
  middleware: ['auth'],
  async asyncData ({ $axios, params }) {
    const response = await $axios.$get(`/organisations/organisations/${params.id}`)
    return {
      organisation: response.organisation
    }
  },
  data () {
    return {
      organisation: ''
    }
  },
  methods: {
    async unlink (userId) {
      const response = await this.$axios.$patch(`/organisations/organisations/${this.organisation.id}/unlink`, { user_id: userId })
      this.organisation.users = response
    },
    async promote (userId) {
      const response = await this.$axios.$patch(`/organisations/organisations/${this.organisation.id}/promote`, { user_id: userId })
      this.organisation = response.organisation
    },
    async demote (userId) {
      const response = await this.$axios.$patch(`/organisations/organisations/${this.organisation.id}/demote`, { user_id: userId })
      this.organisation = response.organisation
    }
  }
}
</script>

<style lang="scss" scoped>
  ARTICLE {
    display: grid;
    grid-template-columns: 1fr;

    H1 {
      font-size: 2.5rem;
      padding: 0;
      margin: 0;
    }

    @include tablet {
      .actions {
        display: flex;
      }
    }

    SECTION.data_box {
      background-color: $light_grey;
      margin: 2rem 0px;

      .header {
        background-color: lighten($navy, 10%);
        color: $white;
        border: 1px solid lighten($navy, 10%);
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 0.3rem;
        min-height: 4rem;

        H2 {
          text-transform: uppercase;
          margin: 0;
          padding: 0;
          @include display_flex_start;
        }

        DIV {
          @include display_flex_center;
        }
      }

      UL {
        list-style: none;
        margin: 0;
        padding: 0;

        LI {
          width: 90%;
          margin: 0.5rem auto;
          background-color: $white;

          DIV {
            padding: 0.5rem 0.5rem;

            H3 {
              margin: 0;
              padding: 0;
            }
          }

          A, BUTTON {
            margin: 0;
          }
        }
      }
    }

    @include tablet {
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;

      .details {
        grid-row: 1;
        grid-column: 1 / 3;
      }

      .actions {
        grid-row: 2;
        grid-column: 1 / 3;
      }
    }

    @include landscape_tablet {
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;

      .details {
        grid-row: 1;
        grid-column: 1 / 3;
      }

      .actions {
        grid-row: 2;
        grid-column: 1 / 3;
        display: flex;
      }
    }

    @include desktop {
      grid-template-columns: 1fr 1fr 1fr 1fr;

      .details {
        grid-column: 1 / 4;
      }

      .actions {
        grid-column: 4;
        grid-row: 1;
        flex-direction: column;
      }

      .users {
        grid-column: 3 / 5;
      }

      .courses {
        grid-column: 1 / 3;
      }

      .data_box {
        A, BUTTON {
          width: 100%;
        }
      }
    }
  }
</style>
