@mixin display_flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin display_flex_start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin display_flex_end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@mixin display_flex_stat_end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

/* MIXIN to rotate an element on different browsers */
@mixin rotate_element($amount) {
  /* Safari */
  -webkit-transform: translateY(100%) rotate($amount);
  /* Firefox */
  -moz-transform: translateY(100%) rotate($amount);
  /* IE */
  -ms-transform: translateY(100%) rotate($amount);
  /* Opera */
  -o-transform: translateY(100%) rotate($amount);
  transform: translateY(100%) rotate($amount);
  transform-origin: top left;
}

/* MIXINS for the media queries */

@mixin tablet {
  @media screen and (orientation: portrait) and (min-width: 700px){
    @content;
  }
}

@mixin landscape_tablet {
  @media screen and (orientation: landscape) and (min-width: 800px){
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin larger_desktop {
  @media screen and (min-width: 1300px) {
    @content;
  }
}
