/** This file will store all the variables that will be used in the project **/

/* Colour variables */
$navy: #364363;
$white: #FFF;
$black: #111;
$light_grey: #EEF2FD;
$grey: darken($light_grey, 2%);
$green: #75DDD7;
$red: #EC7575;
$blue: #8CA0E9;
$light_blue: lighten($blue, 10%);
$purple: #C377DE;
$orange: #EDAB7A;
$yellow: #E9DA8C;
$pink: #EFA2F0;

/* Fonts Settings */
$default_font: "Poppins", Arial, sans-serif;

/* The logo font will be used to create page titles and in the brand name */
$logo_font: "Exo 2", Arial, sans-serif;
