<template>
  <article>
    <h1>{{ section.title }}</h1>
    <HandleBlock :block="block" />
  </article>
</template>

<script>
import HandleBlock from '@/components/blocks/handle-block'

export default {
  layout: 'presentation',
  middleware: ['auth'],
  components: {
    HandleBlock
  },
  async asyncData ({ store, $axios, params }) {
    const response = await $axios.$get(`/presentations/lessons/${params.lesson_id}/blocks/${params.block_id}`)
    const newNextPath = response.next ? `/present/${params.lesson_id}/slide/${response.next.id}` : `/present/${params.lesson_id}/any-questions`
    const newPrevPath = response.prev ? `/present/${params.lesson_id}/slide/${response.prev.id}` : `/present/${params.lesson_id}/contents`
    store.dispatch('presentation/setPages', { nextPath: newNextPath, prevPath: newPrevPath })

    return {
      lesson: response.lesson,
      section: response.section,
      block: response.block
    }
  },
  data () {
    return {
      lesson: '',
      section: '',
      block: ''
    }
  }
}
</script>

<style lang="scss" scoped>
  ARTICLE {
    width: 95%;

    @include desktop {
      width: 60%;
    }

    H1 {
      font-size: 2.5em;
      text-align: left;
      text-transform: uppercase;
      margin: 0;
    }

    .page_list {
      background-color: lighten($navy, 10%);
      padding: 1rem;
    }

    P {
      text-align: center;
      font-size: 1em;
      color: $light_grey;
    }
  }
</style>
