/* This will style the colours on each element with the specific colours */
@mixin bg_colour($colour) {
  background-color: $colour;
  border: 1px solid $colour;
  box-sizing: border-box;
  margin: 1rem 0;
  padding: 0.5rem;
}

.bg_ {
  &black {
    @include bg_colour($black);
  }
  &white {
    @include bg_colour($white);
  }
  &grey {
    @include bg_colour($light_grey);

    CODE {
      background-color: $white;
    }
  }
  &red {
    @include bg_colour($red);
  }
  &green {
    @include bg_colour($green);
  }
  &yellow {
    @include bg_colour($yellow);
  }
  &orange {
    @include bg_colour($orange);
  }
  &pink {
    @include bg_colour($pink);
  }
  &purple {
    @include bg_colour($purple);
  }
  &blue {
    @include bg_colour($blue);
  }
  &navy {
    @include bg_colour($navy);
  }
}
