BODY {
  margin: 0;
  padding: 0;
  font-family: $default_font;
  background-color: $navy;
  color: $white;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

H1, H2, H3, H4, H5, H6 {
  font-family: $logo_font;
}