@mixin button {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid $white;
  margin: 0.5rem 0;
  padding: 0.5rem 0.3rem;
  background-color: transparent;
  color: $white;
  font-size: 1rem;
  font-family: $default_font;
  outline: none;
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;
  text-align: center;
  font-size: 1rem;

  @include desktop {
    font-size: 1rem;
    width: auto;
    padding: 0.5rem 0.75rem;
  }

  &:hover {
    background-color: $white;
    color: $navy;
    transition: 0.3s;
  }
}

@mixin button_inverse {
  width: 95%;
  box-sizing: border-box;
  border: 2px solid $white;
  margin: 0.5rem 2.5%;
  padding: 0.5rem 0.3rem;
  background-color: $white;
  border-radius: 1rem;
  color: $navy;
  font-size: 1rem;
  font-family: $default_font;
  outline: none;
  transition: 0.3s;

  &:hover {
    background-color: transparent;
    color: $white;
    transition: 0.3s;
  }
}

@mixin button_colour($colour, $text_colour){
  background-color: $colour;
  color: $navy;
  border-color: $colour;

  &:hover {
    background-color: lighten($colour, 10%);
    color: $text_colour
  }
}

@mixin button_inverse_colour($colour, $text_colour){
  border-color: $colour;
  background-color: $colour;
  color: $text_colour;

  &:hover {
    color: $colour;
  }
}

@mixin button_inverse_default_colours {
  @include button_inverse;

  &.success {
    @include button_inverse_colour($green, $white);
  }
}

@mixin button_default_colours {
  @include button;

  &.success {
    @include button_colour($green, $navy);
  }

  &.info {
    @include button_colour($blue, $navy);
    color: $white;
  }

  &.danger {
    @include button_colour($red, $white);
  }

  &.warning {
    @include button_colour($yellow, $navy);
  }

  &.present {
    @include button_colour($orange, $navy);
  }

  &.inverse {
    @include button_inverse_default_colours;
  }

  &.back {
    @include button_colour($navy, $white);
    color: $white;
    margin-top: 1rem;
  }
}

BUTTON {
  @include button_default_colours;

  &[type=submit] {
    @include button_colour($green, $navy);
  }
}

A.btn {
  @include button_default_colours;
  width: 100%;
  margin: 0.3rem 0;

  I {
    margin-right: 0.3rem;
  }
}

BUTTON.inverse {
  @include button_default_colours;

  &[type=submit] {
    @include button_inverse_colour($green, $navy);
  }
}
