.form-error {
  background: $red;
  color: $white;
  display: grid;
  grid-template-columns: 3rem auto;
  grid-template-rows: 3rem;
  padding: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0.5rem;

  .icon {
    border: none;
    color: $white;
    font-size: 1.4rem;
    height: auto;
    border: none !important;
  }

  DIV:last-child {
    @include display_flex_start;
    text-align: left;
    padding-left: 0.5rem;
  }
}
