.field {
  display: block;
  box-sizing: border-box;
  margin: 1rem 0px;
  padding: 0;

  LABEL {
    display: block;
  }

  INPUT, TEXTAREA, SELECT {
    -webkit-appearance: none;
    width: 100%;
    background-color: $light_grey;
    border: 1px solid $light_grey;
    padding: 0.75rem 0.5rem;
    border-radius: 1rem;
    box-sizing: border-box;
    outline: none;
    font-size: 1rem;
    color: $black;
    display: block;
  }

  SELECT {
    position: relative;

    &::after {
      content: "Down";
      display: block;
    }
  }

  .errors {
    width: 100%;
    color: $red;
  }

  .checkbox {
    display: grid;
    grid-template-columns: 2.5rem 1fr;
    grid-template-rows: 3rem;
    width: 100%;

    INPUT {
      visibility: hidden;
      height: 0px;
      width: 0px;
      padding: 0;
      margin: 0;
    }

    DIV {
      grid-column: 1;
      grid-row: 1;
      @include display_flex_start;

      SPAN {
        width: 2rem;
        height: 2rem;
        background-color: $light_grey;
        @include display_flex_center;

        I {
          color: $green;
          font-size: 1.5rem;
          opacity: 0;
          transition: 0.3s;
        }
      }
    }

    INPUT:checked + DIV {
      SPAN I {
        opacity: 1;
        transition: 0.3s;
      }
    }

    SPAN {
      grid-column: 2;
      grid-row: 1;
      @include display_flex_start;
    }
  }
}

.login_field {
  display: grid;
  grid-template-columns: 3rem auto;
  grid-template-rows: 3rem;
  border-bottom: 2px solid $blue;
  background-color: $white;
  margin-bottom: 1rem;

  .icon {
    grid-column: 1;
    grid-row: 1;
    color: $blue;
    border: none !important;
    @include display_flex_center;
  }

  LABEL {
    grid-column: 2;
    grid-row: 1;
    color: lighten($black, 30%);
    @include display-flex-start;
    transition: 0.5s;
  }

  INPUT {
    grid-column: 2;
    grid-row: 1;
    outline: none;
    border: none;
    font-size: 1rem;
    font-family: $default_font;
    position: relative;
    z-index: 5;
    background-color: $white;

    &:placeholder-shown {
      background-color: transparent;
    }
  }

  &:focus-within {
    LABEL {
      opacity: 0;
      transition: 0.5s;
    }
  }

  &.error {
    border-bottom: none;
    grid-template-rows: 3rem auto;

    .icon {
      color: $red;
    }

    .error_message {
      grid-column: 1 / 3;
      grid-row: 2;
      border-top: 2px solid $red;
      color: $red;
      text-align: left;
      padding: 0.5rem;
      padding-bottom: 0;
    }
  }
}
