@mixin icon_colour($colour, $font_colour) {
  border-color: $colour !important;
  color: $colour;

  &:hover {
    background-color: $colour !important;
    color: $font_colour;
  }
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid $navy !important;
  border-color: $navy !important;
  color: $navy;
  background-color: transparent !important;
  @include display_flex_center;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border-bottom-right-radius: 0px;
  margin: 0.3rem;
  text-decoration: none;
  box-sizing: border-box;

  &:hover {
    background-color: $navy !important;
  }

  &.success {
    @include icon_colour($green, $navy);
  }
  &.danger {
    @include icon_colour($red, $white);
  }
  &.warning {
    @include icon_colour($orange, $navy);
  }
  &.info {
    @include icon_colour($blue, $white);
  }
  &.up {
    @include icon_colour($blue, $white);
  }
  &.down {
    @include icon_colour($pink, $white);
  }
  &.next {
    @include icon_colour($blue, $white);
    transform: rotate(-45deg);

    I {
      transform: rotate(45deg);
    }
  }
  &.previous {
    @include icon_colour($pink, $white);
    transform: rotate(135deg);

    I {
      transform: rotate(-135deg);
    }
  }
}
