TABLE {
  border-collapse: collapse;
  width: 100%;
  box-sizing: border-box;

  THEAD {
    background-color: $navy;
    color: $white;

    TH {
      padding: 0.5rem;
      text-align: left;
      font-family: $logo_font;
    }
  }

  TBODY {
    TR:nth-child(even){
      background-color: lighten($navy, 75%);
    }

    TD {
      padding: 0.5rem;

      &.buttons {
        text-align: right;
      }
    }
  }
}