BLOCKQUOTE {
  margin: 0;
  padding: 0;
  width: auto;
  position: relative;
  padding: 0.25rem 1.25rem;
  text-align: center;
  display: inline-block;
  margin: 0.5rem auto;
  left: 50%;
  transform: translate(-50%);
  max-width: 90%;

  P {
    margin: 0;
  }

  &:before, &:after {
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: block;
    opacity: 0.95;
    position: absolute;
  }

  &:before {
    top: 0;
    left: 0;
  }

  &:after {
    content: "\f10e";
    bottom: 0;
    right: 0;
  }
}

CODE {
  background-color: $light_grey;
  padding: 0.5rem;
  width: 100%;
  display: block;
  box-sizing: border-box;
  word-break: break-all;
}
