@mixin txt_colour($colour) {
  color: $colour
}

.txt_ {
  &black {
    @include txt_colour($black);
  }
  &white {
    @include txt_colour($white);
  }
  &grey {
    @include txt_colour($light_grey);
  }
  &red {
    @include txt_colour($red);
  }
  &green {
    @include txt_colour($green);
  }
  &yellow {
    @include txt_colour($yellow);
  }
  &orange {
    @include txt_colour($orange);
  }
  &pink {
    @include txt_colour($pink);
  }
  &purple {
    @include txt_colour($purple);
  }
  &blue {
    @include txt_colour($blue);
  }
  &navy {
    @include txt_colour($navy);
  }
}
