<template>
  <footer>
    <!-- <Logo /> -->
    <p>&copy; Ryan Pegg 2020</p>
  </footer>
</template>

<script>
// import Logo from '@/components/Logo'
//
// export default {
//   components: {
//     Logo
//   }
// }
</script>

<style lang="scss" scoped>
  FOOTER {
    display: none;
  }
</style>
