<template>
  <header>
    <section class="logo">
      <WhiteIcon />
    </section>
    <button class="open_menu" @click.prevent="$store.dispatch('menu/toggleMenu')">
      <span>
        <i class="fas fa-bars" />
      </span>
    </button>
  </header>
</template>

<script>
import WhiteIcon from '@/components/logos/Icon'

export default {
  components: {
    WhiteIcon
  }
}
</script>

<style lang="scss" scoped>
  HEADER {
    background-color: $navy;
    height: 15vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 10vh;
    box-sizing: border-box;

    .logo_icon {
      height: 15vh;
      grid-template-columns: 17vh auto;
    }

    .open_menu {
      @include display_flex_center;
      padding: 0;
      margin: 0;
      border: none;
      font-size: 1.5rem;
      border-radius: 0px;
      width: 100%;

      SPAN {
        @include display_flex_center;
        width: 9vh;
        height: 9vh;
        transition: 0.5s;
      }

      &:hover {
        background-color: transparent;
        color: $pink;

        SPAN {
          width:6vh;
          height: 6vh;
          border: 2px solid $pink;
          border-radius: 50%;
          border-bottom-right-radius: 0px;
          transition: 0.5s;
        }
      }

      @include tablet {
        font-size: 2rem;
      }
    }

    @include desktop {
      width: 25vw;

      .logo_icon {
        grid-column: 1 / 3;
      }

      .open_menu {
        display: none;
      }
    }
  }
</style>
