<template>
  <nuxt-link to="/">
    <img src="/images/logo/white-logo.png" alt="">
  </nuxt-link>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>

  A {
    background-color: $navy;
    text-decoration: none;
    display: block;
    font-family: $logo_font;
    display: flex;
    height: 6rem;
    align-items: center;
    justify-content: center;

    IMG {
      height: 10rem;
    }

    &.navigation {
      height: 100%;
      width: 100%;
      box-sizing: border-box;
    }
  }
</style>
