<template>
  <nav :class="{ openMenu: toggleMenu }">
    <button class="close_menu" @click.prevent="$store.dispatch('menu/toggleMenu')">
      <span>
        <i class="fas fa-times" />
      </span>
    </button>
    <div class="pages">
      <nuxt-link to="/">
        <span>Home</span>
      </nuxt-link>
    </div>

    <div v-if="!$auth.loggedIn" class="actions">
      <nuxt-link to="/login" class="login">
        Login
      </nuxt-link>
      <nuxt-link to="/sign_up" class="signup">
        Sign Up
      </nuxt-link>
    </div>
    <div v-else class="actions">
      <nuxt-link to="/dashboard" class="dashboard">
        Dashboard
      </nuxt-link>
      <a class="logout" @click.prevent="logout">
        Logout
      </a>
    </div>
  </nav>
</template>

<script>
export default {
  computed: {
    toggleMenu () {
      return this.$store.getters['menu/toggleMenu']
    }
  },
  methods: {
    logout () {
      this.$auth.logout()
    }
  }
}
</script>

<style lang="scss" scoped>

  NAV {
    background-color: $navy;
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    display: grid;
    grid-template-rows: 15vh 1fr 10vh;
    grid-template-columns: 15vh 1fr;
    transition: 0.5s;

    &.openMenu {
      right: 0;
      transition: 0.5s;
    }

    .close_menu {
      padding: 0;
      margin: 0;
      border-radius: 0px;
      border: none;
      font-size: 1.5rem;
      @include display_flex_center;

      SPAN {
        width: 9vh;
        height: 9vh;
        @include display_flex_center;
        transition: 0.5s;
      }

      &:hover {
        color: $red;
        background-color: transparent;
        SPAN {
          border: 2px solid $red;
          border-radius: 50%;
          border-bottom-right-radius: 0px;
          height: 7vh;
          width: 7vh;
          transition: 0.5s;
        }
      }

      @include tablet {
        font-size: 2rem;
      }

      @include landscape_tablet {
        display: none;
      }
    }

    .pages {
      grid-column: 1 / 3;
      grid-row: 2;
      @include display_flex_start;
      flex-direction: column;

      A {
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 2rem;
        display: block;
        width: 90%;
        text-align: center;

        &:hover {
          color: $blue;
        }

        @include landscape_tablet {
          font-size: 1.3rem;
          text-transform: capitalize;
          padding: 0.5rem 1rem;
        }
      }
    }

    .actions {
      grid-column: 1 / 3;
      grid-row: 3;
      display: flex;
      min-width: 10rem;

      > A {
        flex: 1;
        height: 100%;
        @include display_flex_center;
        color: $navy;
        background-color: $green;
        text-decoration: none;
        font-size: 1.4rem;
        transition: 0.5s;

        &:hover {
          background-color: lighten($green, 20%);
          transition: 0.5s;
        }

        @include landscape_tablet {
          background-color: transparent;
          color: $green;

          &:hover {
            background-color: transparent;
            color: lighten($green, 20%);
          }
        }

        &.signup {
          background-color: $purple;
          color: $white;
          transition: 0.5s;

          &:hover {
            background-color: lighten($purple, 20%);
            color: $navy;
            transition: 0.5s;
          }

          @include landscape_tablet {
            background-color: transparent;
            color: $purple;

            &:hover {
              background-color: transparent;
              color: lighten($purple, 20%);
            }
          }
        }

        &.dashboard {
          background-color: $blue;
          color: $white;
          transition: 0.5s;

          &:hover {
            background-color: lighten($blue, 20%);
            color: $navy;
            transition: 0.5s;
          }

          @include landscape_tablet {
            background-color: transparent;
            color: $blue;

            &:hover {
              background-color: transparent;
              color: lighten($blue, 20%);
            }
          }
        }

        &.logout {
          background-color: $red;
          color: $white;
          transition: 0.5s;

          &:hover {
            background-color: lighten($red, 20%);
            color: $navy;
            transition: 0.5s;
          }

          @include landscape_tablet {
            background-color: transparent;
            color: $red;

            &:hover {
              background-color: transparent;
              color: lighten($red, 20%);
            }
          }
        }

        @include landscape_tablet {
          font-size: 1.3rem;
          text-transform: capitalize;
          padding: 0.5rem 1rem;
          cursor: pointer;
          display: block;
          flex: auto;
          word-break: keep-all;
        }
      }
    }
  }
</style>
