<template>
  <tr>
    <td>{{ name }}</td>
    <td>{{ description }}</td>
    <td class="buttons">
      <nuxt-link to="/organisations/show" class="btn info">
        View
      </nuxt-link>
      <a href="#" class="btn danger" :data-organisation="organisation.id" @click.prevent="remove">
        Delete
      </a>
    </td>
  </tr>
</template>

<script>
export default {
  props: [
    'name',
    'description',
    'id'
  ],
  methods: {
    // async remove () {
    //   await this.$axios.$delete('/orgaisations/' + this.$props.id)
    // }
  }
}
</script>
