<template>
  <nuxt-link to="/" class="logo_icon">
    <div class="icon_image">
      <img src="/images/logo/white-icon.svg" alt="">
    </div>
    <span>Blended</span>
    <span>Learning</span>
  </nuxt-link>
</template>

<style lang="scss" scoped>
  .logo_icon {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    box-sizing: border-box;
    text-decoration: none;
    color: $white;
    font-family: $logo_font;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;

    DIV.icon_image {
      grid-column: 1;
      grid-row: 1 / 3;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      padding-right: 0.3rem;

      IMG {
        height: 120%;
      }
    }

    SPAN {
      grid-column: 2;
      @include display_flex_start
      line-height: 1em;
      padding-left: 0.5rem;;

      &:first-of-type {
        grid-row: 1;
        align-items: flex-end;
      }
      &:last-of-type {
        grid-row: 2;
        align-items: flex-start;
      }
    }

    @include tablet {
      font-size: 3rem;
    }

    @include desktop {
      font-size: 3.2rem;
    }
  }
</style>
