<template>
  <article>
    <h1>Any Questions?</h1>
  </article>
</template>

<script>
export default {
  layout: 'presentation',
  middleware: ['auth'],
  async asyncData ({ store, $axios, params }) {
    const response = await $axios.$get(`/presentations/lessons/${params.lesson_id}`)
    store.dispatch('presentation/setPages', { nextPath: '', prevPath: `/present/${params.lesson_id}/slide/${response.last_slide.id}` })

    return {
      lesson: response.lesson
    }
  },
  data () {
    return {
      lesson: ''
    }
  }
}
</script>

<style lang="scss" scoped>
  ARTICLE {
    width: 95%;

    @include desktop {
      width: 60%;
    }

    H1 {
      font-size: 3em;
      text-align: center;
      text-transform: uppercase;
      margin: 0;
    }

    .page_list {
      background-color: lighten($navy, 10%);
      padding: 1rem;
    }

    P {
      text-align: center;
      font-size: 1em;
      color: $light_grey;
    }
  }
</style>
