<template>
  <article>
    <h1>Contents</h1>
    <div class="page_list">
      <ul>
        <li v-for="section in lesson.sections" :key="section.id">
          {{ section.title }}
        </li>
      </ul>
    </div>
  </article>
</template>

<script>

export default {
  layout: 'presentation',
  middleware: ['auth'],
  async asyncData ({ store, $axios, params }) {
    const response = await $axios.$get(`/presentations/lessons/${params.lesson_id}`)
    store.dispatch('presentation/setPages', { nextPath: `/present/${params.lesson_id}/slide/${response.first_slide.id}`, prevPath: `/present/${params.lesson_id}/title` })

    return {
      lesson: response.lesson
    }
  },
  data () {
    return {
      lesson: ''
    }
  }
}
</script>

<style lang="scss" scoped>
  ARTICLE {
    width: 95%;

    @include desktop {
      width: 60%;
    }

    H1 {
      font-size: 2.5em;
      text-align: left;
      text-transform: uppercase;
      margin: 0;
    }

    .page_list {
      background-color: lighten($navy, 10%);
      padding: 1rem;
    }

    P {
      text-align: center;
      font-size: 1em;
      color: $light_grey;
    }
  }
</style>
