<template>
  <article>
    <h1>{{ lesson.title }}</h1>
    <p>Presented By: {{ $auth.user.full_name }}</p>
  </article>
</template>

<script>

export default {
  layout: 'presentation',
  middleware: ['auth'],
  async asyncData ({ store, $axios, params }) {
    const response = await $axios.$get(`/presentations/lessons/${params.lesson_id}`)
    store.dispatch('presentation/setPages', { nextPath: `/present/${params.lesson_id}/contents`, prevPath: '' })

    return {
      lesson: response.lesson
    }
  },
  data () {
    return {
      lesson: ''
    }
  }
}
</script>

<style lang="scss" scoped>
  ARTICLE {
    width: 95%;

    H1 {
      font-size: 3rem;
      text-align: center;
      text-transform: uppercase;
      margin: 1rem 0;

      @include tablet {
        font-size: 5rem;
      }

      @include landscape_tablet {
        font-size: 6rem;
      }
    }

    P {
      text-align: center;
      font-size: 1.3rem;
      color: $light_grey;
    }
  }
</style>
