<template>
  <div :class="[backgroundClass, textClass]">
    <h2 v-if="headerStyle === 'h2'">
      {{ text }}
    </h2>
    <h3 v-if="headerStyle === 'h3'">
      {{ text }}
    </h3>
    <h4 v-if="headerStyle === 'h4'">
      {{ text }}
    </h4>
    <h5 v-if="headerStyle === 'h5'">
      {{ text }}
    </h5>
    <h6 v-if="headerStyle === 'h6'">
      {{ text }}
    </h6>
  </div>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      required: false,
      default: 'Banner'
    },
    headerStyle: {
      type: String,
      required: false,
      default: 'h2'
    },
    backgroundColour: {
      type: String,
      required: true,
      default: 'navy'
    },
    textColour: {
      type: String,
      required: false,
      default: 'white'
    }
  },
  data () {
    return {
      backgroundClass: 'bg_' + this.backgroundColour,
      textClass: 'txt_' + this.textColour
    }
  }
}
</script>
