<template>
  <div class="image_block">
    <div class="image">
      <img :src="linkToImage" :alt="imageDescription">
    </div>
    <div v-if="caption" class="caption">
      {{ caption }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    linkToImage: {
      type: String,
      required: false,
      default: ''
    },
    imageDescription: {
      type: String,
      required: false,
      default: ''
    },
    caption: {
      type: String,
      required: true,
      default: 'navy'
    }
  }
}
</script>

<style lang="scss" scoped>
  .image_block {
    width: 100%;
    overflow: hidden;

    .image {
      IMG {
        width: 100%;
      }
    }

    .caption {
      text-align: right;
      font-size: 0.8rem;
    }
  }
</style>
