<template>
  <div :class="['image_text_block', backgroundClass, textClass, onLeftClass]">
    <div class="image">
      <img :src="imageLink" :alt="imageDescription">
      <div v-if="caption" class="caption">
        {{ caption }}
      </div>
    </div>
    <div class="text_holder">
      <div class="text_placement" v-html="$md.render(text)" />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    imageLink: {
      type: String,
      required: false,
      default: 'Banner'
    },
    imageDescription: {
      type: String,
      required: false,
      default: 'h2'
    },
    caption: {
      type: String,
      required: true,
      default: 'navy'
    },
    text: {
      type: String,
      required: false,
      default: 'white'
    },
    backgroundColour: {
      type: String,
      required: false,
      default: 'grey'
    },
    textColour: {
      type: String,
      required: false,
      default: 'black'
    },
    imageOnLeft: {
      type: String,
      required: false,
      default: 'false'
    }
  },
  data () {
    return {
      backgroundClass: 'bg_' + this.backgroundColour,
      textClass: 'txt_' + this.textColour,
      onLeftClass: this.imageOnLeft === 'true' ? 'on_left' : ''
    }
  }
}
</script>

<style lang="scss" scoped>
  @mixin large_layout($height) {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
    min-height: $height;

    .image {
      grid-row: 1;
      grid-column: 2;
      position: relative;
      overflow-x: hidden;

      IMG {
        position: absolute;
        top: 0;
        bottom: 0;
        width: auto;
        height: 100%;
        right: 0;
      }

      .caption {
        position: absolute;
        top: 100%;
        right: 0;
      }
    }

    .text_holder {
      grid-column: 1;
      grid-row: 1;
      @include display_flex_start;
    }

    &.on_left {
      grid-template-columns: 2fr 3fr;

      .image {
        grid-row: 1;
        grid-column: 1;

        IMG {
          left: 0;
          right: unset;
        }

        .caption {
          left: 0;
          text-align: left;
        }
      }

      .text_holder {
        grid-column: 2;
        grid-row: 1;
        @include display_flex_end;
      }
    }
  }

  .image_text_block {
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    .image {
      grid-row: 1;
      @include display_flex_center;
      flex-direction: column;

      IMG {
        width: 100%;
      }

      .caption {
        text-align: right;
        width: 100%;
        font-size: 0.8rem;
        padding: 0 0.3rem;
        box-sizing: border-box;
      }
    }

    .text_holder {
      padding: 0.5rem;
      width: 100%;
      box-sizing: border-box;
    }

    @include tablet {
      @include large_layout(20vh);
    }
    @include landscape_tablet {
      @include large_layout(30vh);
    }
    @include desktop {
      @include large_layout(25vh);
    }
  }
</style>
