<template>
  <a :href="linkPath" :class="['link_block', backgroundClass, textClass]">
    <div class="text">
      {{ linkText }}
    </div>
    <div :class="['arrow_icon', textColour]">
      <span>
        <i class="fas fa-arrow-right" />
      </span>
    </div>
  </a>
</template>

<script>
export default {
  props: {
    linkPath: {
      type: String,
      required: false,
      default: ''
    },
    linkText: {
      type: String,
      required: false,
      default: ''
    },
    backgroundColour: {
      type: String,
      required: true,
      default: 'navy'
    },
    textColour: {
      type: String,
      required: true,
      default: 'navy'
    }
  },
  data () {
    return {
      backgroundClass: 'bg_' + this.backgroundColour,
      textClass: 'txt_' + this.textColour
    }
  }
}
</script>

<style lang="scss" scoped>
  .link_block {
    display: grid;
    grid-template-columns: 1fr 3rem;
    min-height: 5rem;
    text-decoration: none;

    .text {
      grid-column: 1;
      @include display_flex_start;
    }

    .arrow_icon {
      @include display_flex_center;
      SPAN {
        height: 2.5rem;
        width: 2.5rem;
        @include display_flex_center;
        font-size: 1.3rem;
        border: 2px solid $black;
        border-radius: 50%;
        border-bottom-right-radius: 0px;
        transition: 0.5s;

        I {
          transition: 0.5s;
        }
      }

      &.black SPAN {
        border-color: $black;
      }
      &.white SPAN {
        border-color: $white;
      }
      &.grey SPAN {
        border-color: $light_grey;
      }
      &.navy SPAN {
        border-color: $navy;
      }
      &.green SPAN {
        border-color: $green;
      }
      &.red SPAN {
        border-color: $red;
      }
      &.yellow SPAN {
        border-color: $yellow;
      }
      &.orange {
        border-color: $orange;
      }
      &.blue SPAN {
        border-color: $blue;
      }
      &.pink SPAN {
        border-color: $pink;
      }
      &.purple SPAN {
        border-color: $purple;
      }
    }

    &:hover .arrow_icon SPAN {
      transform: rotate(-45deg);
      transition: 0.5s;

      I {
        transform: rotate(45deg);
        transition: 0.5s;
      }
    }
  }
</style>
