<template>
  <div :class="['quote_block', backgroundClass, textClass]">
    <div class="quote">
      <span class="open_quote">
        <i class="fas fa-quote-left" />
      </span>
      <span class="close_quote">
        <i class="fas fa-quote-right" />
      </span>
      <span class="quote_text">
        {{ quote }}
      </span>
    </div>
    <div class="author">
      {{ author }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    quote: {
      type: String,
      required: false,
      default: 'Banner'
    },
    author: {
      type: String,
      required: false,
      default: 'Banner'
    },
    backgroundColour: {
      type: String,
      required: true,
      default: 'navy'
    },
    textColour: {
      type: String,
      required: false,
      default: 'white'
    }
  },
  data () {
    return {
      backgroundClass: 'bg_' + this.backgroundColour,
      textClass: 'txt_' + this.textColour
    }
  }
}
</script>

<style lang="scss" scoped>
  .quote_block {
    .quote {
      position: relative;
      text-align: center;
      padding: 2rem;
      box-sizing: border-box;
      border: 1px solid transparent;

      .open_quote {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 2rem;
        opacity: 0.5;
      }

      .close_quote {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 2rem;
        opacity: 0.5;
      }
    }

    .author {
      text-align: right;
    }
  }
</style>
