<template>
  <div :class="[backgroundClass, textClass]">
    <div v-html="$md.render(text)" />
  </div>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      required: false,
      default: 'Banner'
    },
    backgroundColour: {
      type: String,
      required: true,
      default: 'navy'
    },
    textColour: {
      type: String,
      required: false,
      default: 'white'
    }
  },
  data () {
    return {
      backgroundClass: 'bg_' + this.backgroundColour,
      textClass: 'txt_' + this.textColour
    }
  }
}
</script>
