<template>
  <div class="video_block">
    <div class="video">
      <iframe :src="videoLink" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen />
    </div>
    <div v-if="caption" class="caption">
      {{ caption }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    videoLink: {
      type: String,
      required: false,
      default: ''
    },
    caption: {
      type: String,
      required: true,
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
  .video_block {
    width: 100%;
    overflow: hidden;
    margin: 1rem 0;

    .video {
      position: relative;
      padding-bottom: 56.25%;

      IFRAME {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }
    }

    .caption {
      text-align: right;
      font-size: 0.8rem;
    }
  }
</style>
