<template>
  <article>
    <h1>My Courses</h1>
    <div class="courses">
      <nuxt-link
        v-for="course in courses"
        :key="course.id"
        :to="{ name: 'my-courses-course_id', params: { course_id: course.id } }"
        class="course"
      >
        <h2>{{ course.name }}</h2>
        <p class="description">
          {{ course.snippet }}
        </p>
        <div class="teachers">
          <i class="fas fa-user-graduate" />
          <span v-for="teacher in course.teachers" :key="teacher.id">
            {{ teacher.first_name }} {{ teacher.last_name }}
          </span>
        </div>
      </nuxt-link>
    </div>
  </article>
</template>

<script>
export default {
  layout: 'user',
  middleware: ['auth'],
  async asyncData ({ $axios }) {
    const response = await $axios.$get('/learners/courses')
    return {
      courses: response.courses
    }
  },
  data () {
    return {
      courses: ''
    }
  }
}
</script>

<style lang="scss" scoped>
  H1 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
  }

  DIV.courses {
    display: grid;
    grid-gap: 1rem;
    margin-top: 2rem;

    @include tablet {
      grid-template-columns: 1fr 1fr;
    }

    @include landscape_tablet {
      grid-template-columns: 1fr 1fr;
    }

    @include desktop {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    A {
      text-decoration: none;
      color: $navy;
      background-color: $light_grey;
      width: 100%;
      display: grid;
      padding: 1rem;
      box-sizing: border-box;
      border-bottom: 5px solid $light_grey;

      H2 {
        margin: 0;
        padding: 0;
      }

      &:hover {
        border-bottom: 5px solid $green;
        transition: 0.5s;
      }
    }
  }
</style>
