<template>
  <article>
    <h1>Edit {{ section.title }}</h1>

    <form @submit.prevent="update">
      <div class="field">
        <label>Title</label>
        <input v-model.trim="form.section.title" type="text" autofocus>
        <div v-if="errors.title" class="errors">
          <i class="fas fa-exclamation-circle" /> Title {{ errors.title[0] }}
        </div>
      </div>

      <button type="submit">
        Save
      </button>
    </form>
    <nuxt-link :to="{ name: 'organisations-id-courses-course_id-lessons-lesson_id-sections-section_id', params: { id: course.organisation.id, course_id: course.id, lesson_id: lesson.id, section_id: section.id } }" class="btn back">
      <i class="fas fa-arrow-left" /> Back
    </nuxt-link>
  </article>
</template>

<script>
export default {
  layout: 'user',
  middleware: ['auth'],
  async asyncData ({ $axios, params }) {
    const response = await $axios.$get(`/organisations/organisations/${params.id}/courses/${params.course_id}/lessons/${params.lesson_id}/sections/${params.section_id}`)
    return {
      course: response.course,
      lesson: response.lesson,
      section: response.section,
      form: {
        section: {
          title: response.section.title
        }
      }
    }
  },
  data () {
    return {
      course: '',
      lesson: '',
      section: '',
      form: {
        section: {
          title: ''
        }
      }
    }
  },
  methods: {
    async update () {
      await this.$axios.$patch(`/organisations/organisations/${this.course.organisation.id}/courses/${this.course.id}/lessons/${this.lesson.id}/sections/${this.section.id}`, this.form)
        .then((res) => {
          this.$router.push(`/organisations/${this.course.organisation.id}/courses/${this.course.id}/lessons/${this.lesson.id}/sections/${this.section.id}`)
        }).catch((error) => {
          // Check that the error is 422
          if (error.response.status === 422) {
            // Do Nothing
          } else {
            this.$router.push('/platform-error')
          }
        })
    }
  }
}
</script>
