<template>
  <article>
    <h1>{{ section.title }}</h1>

      <nuxt-link v-if="course.can_edit" :to="{ name: 'organisations-id-courses-course_id-lessons-lesson_id-sections-section_id-edit', params: { id: course.organisation.id, course_id: course.id, lesson_id: lesson.id, section_id: section.id } }" class="btn warning">
        Edit
      </nuxt-link>

    <nuxt-link v-if="course.can_edit" class="btn success" :to="{name: 'organisations-id-courses-course_id-lessons-lesson_id-sections-section_id-new-block', params: { id: course.organisation.id, course_id: course.id, lesson_id: lesson.id, section_id: section.id }}">
      Add Block
    </nuxt-link>

    <div class="blocks">
      <div v-for="block in section.blocks" :key="block.id" class="block">
        <div v-if="course.can_edit" class="actions">
          <button class="icon up" @click.prevent="moveUp(block.id)">
            <i class="fas fa-chevron-up" />
          </button>
          <button class="icon down" @click.prevent="moveDown(block.id)">
            <i class="fas fa-chevron-down" />
          </button>
          <nuxt-link :to="{name: 'organisations-id-courses-course_id-lessons-lesson_id-sections-section_id-blocks-block_id', params: { id: course.organisation.id, course_id: course.id, lesson_id: lesson.id, section_id: section.id, block_id: block.id }}" class="icon warning">
            <i class="fas fa-edit" />
          </nuxt-link>
          <button class="icon danger" @click.prevent="deleteBlock(block.id)">
            <i class="fas fa-trash-alt" />
          </button>
        </div>
        <HandleBlock :block="block" />
      </div>
    </div>

    <nuxt-link :to="{ name: 'organisations-id-courses-course_id-lessons-lesson_id', params: { id: course.organisation.id, course_id: course.id, lesson_id: lesson.id } }" class="btn back">
      <i class="fas fa-arrow-left" /> Back
    </nuxt-link>
  </article>
</template>

<script>
import HandleBlock from '@/components/blocks/handle-block'

export default {
  layout: 'user',
  middleware: ['auth'],
  components: {
    HandleBlock
  },
  async asyncData ({ $axios, params }) {
    const response = await $axios.$get(`/organisations/organisations/${params.id}/courses/${params.course_id}/lessons/${params.lesson_id}/sections/${params.section_id}`)
    return {
      course: response.course,
      lesson: response.lesson,
      section: response.section
    }
  },
  data () {
    return {
      course: '',
      lesson: '',
      section: ''
    }
  },
  methods: {
    async deleteBlock (blockId) {
      await this.$axios.$delete(`/organisations/organisations/${this.course.organisation.id}/courses/${this.course.id}/lessons/${this.lesson.id}/sections/${this.section.id}/blocks/${blockId}`)
        .then((res) => {
          this.section = res.section
        }).catch((error) => {
          // Check that the error is 422
          if (error.response.status === 422) {
            // Do Nothing
          } else {
            this.$router.push('/platform-error')
          }
        })
    },
    async moveUp (blockId) {
      await this.$axios.$patch(`/organisations/organisations/${this.course.organisation.id}/courses/${this.course.id}/lessons/${this.lesson.id}/sections/${this.section.id}/blocks/${blockId}/move_up`)
        .then((res) => {
          this.section = res.section
        }).catch((error) => {
          // Check that the error is 422
          if (error.response.status === 422) {
            // Do Nothing
          } else {
            this.$router.push('/platform-error')
          }
        })
    },
    async moveDown (blockId) {
      await this.$axios.$patch(`/organisations/organisations/${this.course.organisation.id}/courses/${this.course.id}/lessons/${this.lesson.id}/sections/${this.section.id}/blocks/${blockId}/move_down`)
        .then((res) => {
          this.section = res.section
        }).catch((error) => {
          // Check that the error is 422
          if (error.response.status === 422) {
            // Do Nothing
          } else {
            this.$router.push('/platform-error')
          }
        })
    }
  }
}
</script>

<style lang="scss" scoped>
  .blocks {
    max-width: 900px;
    margin: 0 auto;
  }

  .block {
    position: relative;
    min-height: 3rem;

    .actions {
      top: 0;
      right: 0;
      @include display_flex_end;
      z-index: 70;
    }
  }
</style>
