<template>
  <article>
    <h1>Select a block to add</h1>

    <div class="block_types">
      <button v-for="blockType in blockTypes" :key="blockType.system_name" @click.prevent="addBlock(blockType.id)">
        {{ blockType.name }}
      </button>
    </div>

    <nuxt-link :to="{ name: 'organisations-id-courses-course_id-lessons-lesson_id-sections-section_id', params: { id: course.organisation.id, course_id: course.id, lesson_id: lesson.id, section_id: section.id } }" class="btn back">
      <i class="fas fa-arrow-left" /> Back
    </nuxt-link>
  </article>
</template>

<script>
export default {
  layout: 'user',
  middleware: ['auth'],
  async asyncData ({ $axios, params }) {
    const response = await $axios.$get(`/organisations/organisations/${params.id}/courses/${params.course_id}/lessons/${params.lesson_id}/sections/${params.section_id}`)
    const blockTypesResponse = await $axios.$get('/block_types')
    return {
      course: response.course,
      lesson: response.lesson,
      section: response.section,
      blockTypes: blockTypesResponse.block_types
    }
  },
  data () {
    return {
      course: '',
      lesson: '',
      section: '',
      blockTypes: ''
    }
  },
  methods: {
    async addBlock (blockTypeId) {
      await this.$axios.$post(`/organisations/organisations/${this.course.organisation.id}/courses/${this.course.id}/lessons/${this.lesson.id}/sections/${this.section.id}/blocks`, { block: { block_type_id: blockTypeId } })
        .then((res) => {
          this.$router.push(`/organisations/${this.course.organisation.id}/courses/${this.course.id}/lessons/${this.lesson.id}/sections/${this.section.id}/blocks/${res.block.id}`)
        }).catch((error) => {
          // Check that the error is 422
          if (error.response.status === 422) {
            // Do Nothing
          } else {
            this.$router.push('/platform-error')
          }
        })
    }
  }
}
</script>

<style lang="scss" scoped>
  .block_types {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem;
    grid-gap: 0.5rem;

    @include tablet {
      grid-template-columns: 1fr 1fr;
    }

    @include landscape_tablet {
      grid-template-columns: 1fr 1fr 1fr;
    }

    BUTTON {
      margin: 0;
      background-color: $light_grey;
      width: 100%;
      color: $navy;
      height: 5rem;
      @include display_flex_center;
    }
  }
</style>
