<template>
  <section class="app">
    <section class="header_holder">
      <Header />
      <Navbar />
    </section>
    <main>
      <nuxt />
    </main>
    <Footer />
  </section>
</template>

<script>
import Header from '@/components/Header'
import Navbar from '@/components/Navbar'
import Footer from '@/components/Footer'

export default {
  components: {
    Header,
    Navbar,
    Footer
  }
}
</script>

<style lang="scss" scoped>
  @include landscape_tablet {
    .header_holder {
      display: grid;
      grid-template-columns: 30vw 1fr;
      width: 100vw;
      box-sizing: border-box;

      HEADER {
        grid-column: 1;
      }

      NAV {
        grid-column: 2;
        position: static;
        @include display_flex_end;
        align-items: flex-start;
        height: auto;
        width: auto;
      }
    }
  }

</style>
