<template>
  <div>
    <div class="login">
      <section class="login_position">
        <header>
          <nuxt-link to="/" class="logo_image">
            <img src="/images/logo/black-logo.png" alt="Blended Learning">
          </nuxt-link>
        </header>
        <main>
          <nuxt />
        </main>
      </section>
      <footer>
        <i class="fas fa-copyright" /> Blended Learning 2020
      </footer>
      <img src="/images/symbols/logged_out.svg" alt="" class="symbol">
    </div>
    <aside>
      <h1>Welcome Back</h1>
      <img src="/images/symbols/login.svg" alt="">
    </aside>
  </div>
</template>

<script>
export default {
  middleware: ['guest']
}
</script>

<style lang="scss" scoped>
  .login {
    background-color: $white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;

    .login_position {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      z-index: 5;

      @include tablet {
        width: 60%;
      }

      HEADER {
        padding-bottom: 2rem;
        text-align: center;
       A {
         text-decoration: none;
         text-align: center;
         IMG {
           max-width: 60%;
           @include landscape_tablet {
             max-width: 50%;
           }
         }
       }
      }
    }

    MAIN {
      max-height: 60vh;
      overflow: hidden;
      overflow-y: auto;
      width: 100%;

      @include landscape_tablet {
        max-height: 70vh;
      }

      ARTICLE {
        min-width: 90%;
        width: 90%;
        margin: 0 auto;
        box-sizing: border-box;
      }
    }

    FOOTER {
      position: absolute;
      bottom: 0;
      left: 0;
      color: $navy;
      padding: 0.3rem;
      z-index: 1;
    }

    IMG.symbol {
      position: absolute;
      bottom: 0.5rem;
      right: 0.5rem;
      width: 60vw;
    }

    @include landscape_tablet {
      width: 50vw;

      IMG.symbol {
        width: 25vw;
      }
    }

    @include desktop {
      width: 30vw;

      IMG.symbol {
        width: 15vw;
      }
    }
  }

  ASIDE {
    display: none;

    @include landscape_tablet {
      @include display_flex_center;
      font-size: 3rem;
      width: 50vw;
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;

      H1 {
        @include rotate_element(-90deg);
        position: absolute;
        bottom: 0;
        left: 0;
        height: 50vw;
        @include display_flex_start;
        margin: 0;
        padding: 0;
        align-items: flex-end;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
        width: 100vh;
      }

      IMG {
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 25vw;
      }
    }
  }
</style>
