<template>
  <div class="presentation">
    <header>
      <img src="/images/logo/white-logo.png" alt="">
    </header>
    <nav>
      <nuxt-link v-if="prevPath" :to="prevPath" class="prev">
        <span>
          <i class="fas fa-chevron-left" />
        </span>
      </nuxt-link>
      <nuxt-link v-if="closePath" :to="closePath" class="stop">
        <span>
          <i class="fas fa-times" />
        </span>
      </nuxt-link>
      <nuxt-link v-if="nextPath" :to="nextPath" class="next">
        <span>
          <i class="fas fa-chevron-right" />
        </span>
      </nuxt-link>
    </nav>
    <main>
      <Nuxt />
    </main>
    <footer>
      <p>Presented By: {{ $auth.user.full_name }}</p>
    </footer>
  </div>
</template>

<script>
export default {
  computed: {
    closePath () {
      return this.$store.getters['presentation/currentClosePath']
    },
    nextPath () {
      return this.$store.getters['presentation/currentNextPath']
    },
    prevPath () {
      return this.$store.getters['presentation/currentPrevPath']
    }
  }
}
</script>

<style lang="scss" scoped>
.presentation {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 5rem 1fr 5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  @include desktop {
    grid-template-columns: 15rem auto;
    grid-template-rows: 5rem auto 5rem;
  }

  HEADER {
    height: 5rem;
    width: 100%;
    text-align: center;
    @include display_flex_center;
    grid-column: 1;
    grid-row: 1;

    @include landscape_tablet {
      justify-content: flex-start;
    }

    @include desktop {
      grid-column: 1;
      grid-row: 1;
    }

    IMG {
      height: 4rem;
    }
  }

  MAIN {
    grid-column: 1;
    grid-row: 2;
    @include display_flex_center;
    font-size: 1.3rem;
    max-height: calc(100vh - 10rem);
    overflow-y: scroll;

    ARTICLE {
      max-height: calc(100vh - 10rem);
    }

    @include desktop {
      grid-column: 1 / 3;
      grid-row: 2;
    }
  }

  NAV {
    grid-column: 1;
    grid-row: 3;
    display: grid;
    grid-template-columns: 5rem 1fr 5rem;

    @include desktop {
      grid-column: 1;
      grid-row: 3;
      grid-template-columns: 5rem 5rem 5rem;
    }

    A {
      @include display_flex_center;
      text-decoration: none;
      color: $white;

      SPAN {
        width: 3rem;
        height: 3rem;
        @include display_flex_center;
        border: 2px solid $white;
        border-radius: 50%;
        transform: rotate(45deg);

        I {
          transform: rotate(-45deg);
        }
      }
    }

    .next {
      grid-column: 3;

      @include desktop {
        grid-column: 3;
      }

      SPAN {
        border-top-right-radius: 0px;
        color: $pink;
        border-color: $pink;
        transition: 0.5s;
      }

      &:hover SPAN {
        background-color: $pink;
        color: $white;
        transition: 0.5s;
      }
    }

    .prev {
      grid-column: 1;

      SPAN {
        border-bottom-left-radius: 0px;
        color: $purple;
        border-color: $purple;
        transition: 0.5s;
      }

      &:hover SPAN {
        background-color: $purple;
        color: $white;
        transition: 0.5s;
      }
    }

    .stop {
      grid-column: 2;

      SPAN {
        border-bottom-right-radius: 0px;
        color: $red;
        border-color: $red;
        transition: 0.5s;
      }

      &:hover SPAN {
        background-color: $red;
        color: $white;
        transition: 0.5s;
      }
    }
  }

  FOOTER {
    grid-column: 1;
    grid-row: 3;
    padding: 0 5rem;
    box-sizing: border-box;
    text-align: center;
    @include display_flex_center;
    display: none;

    @include desktop {
      grid-column: 2;
      justify-content: flex-end;
      padding: 0.5rem;
      display: flex;
    }
  }
}
</style>
