<template>
  <div :class="{ app: true, show_details: toggleUserDetails, show_menu: toggleMenu }">
    <Header />
    <Navbar />
    <main @click="$store.dispatch('menu/closeMenuAndDetails')">
      <nuxt />
    </main>
    <UserDetails />
  </div>
</template>

<script>
import Header from '@/components/logged_in/Header'
import Navbar from '@/components/logged_in/Navbar'
import UserDetails from '@/components/logged_in/UserDetails'

export default {
  middleware: ['auth'],
  components: {
    Header,
    Navbar,
    UserDetails
  },
  computed: {
    toggleMenu () {
      return this.$store.getters['menu/toggleMenu']
    },
    toggleUserDetails () {
      return this.$store.getters['menu/toggleUserDetails']
    }
  },
  methods: {
    logout () {
      this.$auth.logout()
    }
  }
}
</script>

<style lang="scss" scoped>
  .app {
    width: 200vw;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100vw;
    height: 100%;
    display: grid;
    grid-template-columns: 100vw 100vw;
    grid-template-rows: 3rem 0px 1fr;
    transition: 0.5s;

    @include tablet {
      grid-template-rows: 5rem 0px 1fr;
    }

    @include landscape_tablet {
      grid-template-columns: 50vw 100vw;
      left: -50vw;
    }

    @include desktop {
      width: 100vw;
      grid-template-columns: 20vw 1fr;
      grid-template-rows: 4rem 0px 1fr;
      left: 0;
    }

    HEADER {
      grid-column: 2;
      grid-row: 1;
      position: relative;
      z-index: 20;

      @include desktop {
        opacity: 0;
        z-index: 0;
      }
    }

    NAV {
      grid-column: 1;
      grid-row: 1 / 4;
      position: relative;
      z-index: 20;
    }

    MAIN {
      grid-column: 2;
      grid-row: 3;
      background-color: $white;
      box-sizing: border-box;
      padding: 1rem;
      overflow: hidden;
      overflow-y: auto;
      color: $navy;
    }

    ASIDE {
      position: fixed;
      top: -100%;
      right: 0;
      width: 100vw;
      box-sizing: border-box;
      transition: 0.5s;

      @include desktop {
        grid-column: 2;
        grid-row: 1;
        position: relative;
        top: 0;
        width: 100%;
      }
    }

    &.show_menu {
      left: 0;
      transition: 0.5s
    }

    &.show_details {
      ASIDE {
        top: 3rem;

        @include tablet {
          top: 5rem;
        }

        @include desktop {
          top: 0;
        }

        transition: 0.5s;
      }
    }
  }
</style>
