<template>
  <section>
    <h1 class="welcome_message">
      Weclome {{ $auth.user.first_name }}
    </h1>

    <article v-if="courses.length" class="course_tiles">
      <nuxt-link
        v-for="course in courses"
        :key="course.id"
        :to="{ name: 'my-courses-course_id', params: { course_id: course.id } }"
        class="course_tile"
      >
        <h2>{{ course.name }}</h2>
        <div class="description">
          {{ course.snippet }}
        </div>
        <div class="teacher">
          <i class="fas fa-user-graduate" />
          <span v-for="teacher in course.teachers" :key="teacher.id">
            {{ teacher.first_name }} {{ teacher.last_name }}
          </span>
        </div>
      </nuxt-link>
    </article>
    <article v-else class="no_courses">
      <div>
        <h2>You do not have any courses</h2>
        <p>Use the quick links below to join an organisation or a course</p>
      </div>
    </article>

    <h2 class="label">Quick Links</h2>

    <article class="quick_links">
      <nuxt-link to="/my-courses" class="courses">
        <span>
          <span>
            <i class="fas fa-book" />
          </span>
          My Courses
        </span>
      </nuxt-link>
      <nuxt-link to="/organisations" class="organisations">
        <span>
          <span>
            <i class="fas fa-building" />
          </span>
          My Organisations
        </span>
      </nuxt-link>
      <nuxt-link to="/join-a-course" class="join">
        <span>
          <span>
            <i class="fas fa-search" />
          </span>
          Join a Course
        </span>
      </nuxt-link>
      <nuxt-link to="/organisations/join-organisation" class="join_organisation">
        <span>
          <span>
            <i class="fas fa-building" />
          </span>
          Join an Organisation
        </span>
      </nuxt-link>
    </article>
  </section>
</template>

<script>
export default {
  layout: 'user',
  middleware: ['auth'],
  async asyncData ({ $axios }) {
    const response = await $axios.$get('/user/my_courses')
    return {
      courses: response.courses
    }
  },
  data () {
    return {
      courses: ''
    }
  }
}
</script>

<style lang="scss" scoped>
  H1.welcome_message, H2.label {
    font-size: 2.5rem;
    font-family: $logo_font;
    text-align: center;
    padding: 1rem;
    margin: 0;

    @include tablet {
      text-align: left;
    }

    @include landscape_tablet {
      text-align: left;
    }
  }

  H2.label {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
    padding-bottom: 0;
  }

  ARTICLE.no_courses {
    margin: 1rem;
    width: calc(100% - 2rem);
    padding: 1rem;
    background-color: $light_grey;
    text-align: center;
    box-sizing: border-box;
  }

  ARTICLE.course_tiles {
    display: grid;
    grid-template-columns: 1fr;

    @include tablet {
      grid-template-columns: 1fr 1fr;
    }

    @include landscape_tablet {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include desktop {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  A.course_tile {
    width: calc(100% - 2rem);
    margin: 1rem 1rem;
    box-sizing: border-box;
    background-color: darken($white, 10%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem 4rem 2rem 3px;
    overflow: hidden;
    text-decoration: none;
    color: $navy;
    transition: 0.5s;

    &:hover {
      grid-template-rows: 3rem 3.25rem 2rem 0.75rem 3px;
      transition: 0.5s;
    }

    H2 {
      grid-row: 1;
      grid-column: 1 / 3;
      background-color: darken($white, 5%);
      margin: 0;
      padding: 0 0.5rem;
      @include display_flex_start;
    }

    .description {
      grid-row: 2;
      grid-column: 1 / 3;
      background-color: darken($white, 5%);
      padding: 0 0.5rem;
    }

    .teacher {
      grid-row: 3;
      grid-column: 1 / 3;
      background-color: darken($white, 5%);
      padding: 0 0.5rem;
    }

    &:first-child {
      background-color: $blue;
    }
    &:nth-child(2) {
      background-color: $green;
    }
    &:nth-child(3) {
      background-color: $orange;
    }
    &:last-child {
      background-color: $purple;
    }
  }

  ARTICLE.quick_links {
    width: 100%;
    display: grid;
    display: grid;
    grid-template-columns: 1fr;

    @include tablet {
      grid-template-columns: 1fr 1fr;
    }

    @include landscape_tablet {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include desktop {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    A {
      width: calc(100% - 2rem);
      margin: 1rem;
      text-decoration: none;
      background-color: $navy;
      padding: 1rem;
      box-sizing: border-box;
      color: $orange;

      > SPAN {
        @include display_flex_center;
        flex-direction: column;

        > SPAN {
          height: 3rem;
          width: 3rem;
          @include display_flex_center;
          border: 2px solid $orange;
          border-radius: 50%;
          border-bottom-right-radius: 0px;

          I {
            transition: 0.5s;
          }
        }
      }

      &.join {
        color: $yellow;

        > SPAN > SPAN {
          border-color: $yellow;
        }
      }

      &.organisations {
        color: $green;

        > SPAN > SPAN {
          border-color: $green;
        }
      }

      &.join_organisation {
        color: $pink;

        > SPAN > SPAN {
          border-color: $pink;
        }
      }

      &:hover {
        I {
          font-size: 1.3rem;
          transition: 0.5s;
        }
      }
    }
  }
</style>
