<template>
  <div>
    <article class="landing_banner">
      <div class="content">
        <h1>Optimised Learning</h1>
        <p class="tagline">
          Helping you to deliver your content
        </p>
      </div>
      <img src="/images/symbols/banner.svg" alt="">
    </article>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
  ARTICLE.landing_banner {
    background-color: $navy;
    position: relative;
    height: 85vh;
    border-top: 1px solid $navy;
    box-sizing: border-box;
    overflow: hidden;

    H1 {
      margin: 0;
      padding: 0;
      position: absolute;
      font-size: 5rem;
      line-height: 1em;
      z-index: 5;
      text-transform: uppercase;
      bottom: 0.5rem;;
      left: 0;
      height: 100vw;
      @include rotate_element(-90deg);
      @include display_flex_stat_end;
      padding-bottom: 0.75rem;
      padding-left: 0.5rem;
      box-sizing: border-box;

      @include tablet {
        font-size: 8rem;
        bottom: 2rem;
        padding-bottom: 1rem;
      }

      @include landscape_tablet {
        width: auto;
        height: auto;
        position: static;
        transform: none;
        font-size: 8rem;
      }
    }

    .tagline {
      display: none;
      @include landscape_tablet {
        display: block;
        color: $pink;
        font-size: 2rem;
        padding-left: 0.5rem;
        margin: 0;
      }
    }

    IMG {
      position: absolute;
      bottom: 0rem;
      right: 0.5rem;
      width: 80vw;

      @include landscape_tablet {
        width: 50vw;
      }

      @include desktop {
        width: 40vw;
        right: 1.5rem;
      }
    }

    @include landscape_tablet {
      .content {
        position: absolute;
        top: 45%;
        left: 0;
        max-width: 60vw;
        transform: translateY(-50%);
        z-index: 10;
      }
    }
  }
</style>
