<template>
  <article class="center_content">
    <div>
      <h1>Join a Course</h1>
      <form @submit.prevent="join">
        <div class="field">
          <label>Course Code</label>
          <input v-model.trim="form.course.code" type="text" autofocus>
          <div v-if="errors.code" class="errors">
            <i class="fas fa-exclamation-circle" /> Course code {{ errors.code[0] }}
          </div>
        </div>

        <div v-if="course">
          <h2>The course is: {{ course.name }}</h2>
          <p>Are you sure you want to join this course?</p>
          <button type="submit">
            Yes
          </button>
          <button class="danger" @click.prevent="reset">
            No
          </button>
        </div>
        <div v-else>
          <button type="submit">
            Join Course
          </button>
        </div>
      </form>
    </div>
  </article>
</template>

<script>

export default {
  layout: 'user',
  middleware: ['auth'],
  data () {
    return {
      course: '',
      form: {
        course: {
          code: ''
        }
      }
    }
  },
  methods: {
    reset () {
      this.course = ''
    },
    async join () {
      // Check to see if the organisation is present
      if (this.course) {
        await this.$axios.$post('/learners/courses/join_course', this.form)
          .then((res) => {
            this.$router.push('/dashboard')
          }).catch((error) => {
            // Check that the error is 422
            if (error.response.status === 422) {
              // Do Nothing
            } else {
              this.$router.push('/platform-error')
            }
          })
      } else {
        await this.$axios.$post('/learners/courses/course_information', this.form)
          .then((res) => {
            this.course = res.course
          }).catch((error) => {
            // Check that the error is 422
            if (error.response.status === 422) {
              // Do Nothing
            } else {
              this.$router.push('/platform-error')
            }
          })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .center_content {
    height: 100%;
    width: 100%;
    @include display_flex_center;

    > DIV {
      width: 90%;
    }
  }
</style>
