<template>
  <article>
    <form @submit.prevent="submit">
      <div v-if="incorrectDetails" class="form-error">
        <div class="icon">
          <i class="fas fa-exclamation-triangle" />
        </div>
        <div class="explanation">
          {{ errorMessage }}
        </div>
      </div>

      <div class="login_field">
        <div class="icon">
          <i class="fas fa-at" />
        </div>
        <label>Email Address</label>
        <input v-model.trim="form.user.email" type="email" placeholder=" " autofocus>
        <div v-if="errors.email" class="errors">
          {{ errors.email[0] }}
        </div>
      </div>

      <div class="login_field">
        <div class="icon">
          <i class="fas fa-lock" />
        </div>
        <label>Password</label>
        <input v-model.trim="form.user.password" placeholder=" " type="password">
        <div v-if="errors.password" class="errors">
          {{ errors.password[0] }}
        </div>
      </div>

      <div class="actions">
        <button type="submit">
          Login
        </button>
      </div>
    </form>
  </article>
</template>

<script>
export default {
  layout: 'logged_out',
  data () {
    return {
      incorrectDetails: false,
      errorMessage: '',
      form: {
        user: {
          email: '',
          password: ''
        }
      }
    }
  },
  methods: {
    async submit () {
      if (this.form.user.email.length > 0 && this.form.user.password.length > 0) {
        await this.$auth.loginWith('local', {
          data: this.form
        }).then((res) => {
          this.$router.push({
            path: this.$route.query.redirect || '/dashboard'
          })
        }).catch((error) => {
          // Check that the error is 422
          if (error.response.status === 422 || error.response.status === 401) {
            this.incorrectDetails = true
            this.errorMessage = 'Your email or password is incorrect. Please try again'
            this.form.user.password = ''
          } else {
            this.$router.push('/platform-error')
          }
        })
      } else {
        this.incorrectDetails = true
        this.errorMessage = 'You need to enter an email and password'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  ARTICLE, FORM {
    min-width: 100%;
  }

  ARTICLE {
    text-align: center;
    @include display_flex_center;
  }

  .actions {
    @include display_flex_start;
    flex-direction: column-reverse;

    @include desktop {
      flex-direction: row;
      justify-content: space-between;
    }

    A {
      color: $navy;
      text-decoration: none;
      padding: 0.5rem 0;
      display: block;

      &:hover {
        text-decoration: underline;
      }
    }
  }
</style>
