<template>
  <article>
    <form @submit.prevent="submit">
      <div :class="{login_field: true, error: errors.organisation_name }">
        <div class="icon">
          <i class="fas fa-building" />
        </div>
        <label>Organisation Name</label>
        <input v-model.trim="form.organisation.name" type="text" placeholder=" " name="organisation_name" autofocus>
        <div v-if="errors.organisation_name" class="error_message">
          Organisation Name {{ errors.organisation_name[0] }}
        </div>
      </div>

      <div :class="{login_field: true, error: errors.first_name }">
        <div class="icon">
          <i class="fas fa-user" />
        </div>
        <label>First Name</label>
        <input v-model.trim="form.user.first_name" type="text" placeholder=" " name="first_name" autofocus>
        <div v-if="errors.first_name" class="error_message">
          First Name {{ errors.first_name[0] }}
        </div>
      </div>

      <div :class="{login_field: true, error: errors.last_name }">
        <div class="icon">
          <i class="fas fa-user" />
        </div>
        <label>Last Name</label>
        <input v-model.trim="form.user.last_name" type="text" placeholder=" " name="last_name">
        <div v-if="errors.last_name" class="error_message">
          Last Name {{ errors.last_name[0] }}
        </div>
      </div>

      <div :class="{login_field: true, error: errors.email }">
        <div class="icon">
          <i class="fas fa-at" />
        </div>
        <label>Email Address</label>
        <input v-model.trim="form.user.email" type="email" placeholder=" " name="email">
        <div v-if="errors.email" class="error_message">
          Email Address {{ errors.email[0] }}
        </div>
      </div>

      <div :class="{login_field: true, error: errors.password }">
        <div class="icon">
          <i class="fas fa-lock" />
        </div>
        <label>Password</label>
        <input v-model.trim="form.user.password" type="password" placeholder=" " name="password">
        <div v-if="errors.password" class="error_message">
          Password {{ errors.password[0] }}
        </div>
      </div>

      <div :class="{login_field: true, error: errors.password_confirmation }">
        <div class="icon">
          <i class="fas fa-lock" />
        </div>
        <label>Password Confirmation</label>
        <input v-model.trim="form.user.password_confirmation" type="password" placeholder=" " name="password_confirmation">
        <div v-if="errors.password_confirmation" class="error_message">
          Password Confirmation {{ errors.password_confirmation[0] }}
        </div>
      </div>

      <div class="actions">
        <nuxt-link to="/sign_up">
          Sign up as a learner
        </nuxt-link>
        <button type="submit">
          Sign up
        </button>
      </div>
    </form>
  </article>
</template>

<script>
export default {
  layout: 'logged_out',
  data () {
    return {
      form: {
        user: {
          first_name: '',
          last_name: '',
          email: '',
          password: '',
          password_confirmation: ''
        },
        organisation: {
          name: ''
        }
      }
    }
  },
  methods: {
    async submit () {
      let login = false
      await this.$axios.$post('/organisations/new_organisation', this.form)
        .then((res) => {
          login = true
        }).catch((error) => {
          if (error.response.status === 422) {
            // Do nothing
          }
        })

      if (login === true) {
        await this.$auth.loginWith('local', {
          data: {
            user: {
              email: this.form.user.email,
              password: this.form.user.password
            }
          }
        })

        this.$router.push('/dashboard')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  ARTICLE, FORM {
    min-width: 100%;
  }

  ARTICLE {
    text-align: center;
    @include display_flex_center;
  }

  .actions {
    @include display_flex_start;
    flex-direction: column-reverse;

    @include desktop {
      flex-direction: row;
      justify-content: space-between;
    }

    A {
      color: $navy;
      text-decoration: none;
      padding: 0.5rem 0;
      display: block;

      &:hover {
        text-decoration: underline;
      }
    }
  }
</style>
