<template>
  <article>
    <h1>Something went wrong</h1>
    <p>Click <nuxt-link to="/dashboard">HERE</nuxt-link> to go back to your dashboard</p>
  </article>
</template>

<script>
export default {
  layout: 'user',
  middleware: ['auth']
}
</script>
