<template>
  <article>
    <h1>Settings</h1>

    <form @submit.prevent="saveSettings">
      <div class="field">
        <label>First Name</label>
        <input v-model.trim="form.user.first_name" type="text" autofocus>
        <div v-if="errors.first_name" class="errors">
          <i class="fas fa-exclamation-circle" /> First Name {{ errors.first_name[0] }}
        </div>
      </div>

      <div class="field">
        <label>Last Name</label>
        <input v-model.trim="form.user.last_name" type="text" autofocus>
        <div v-if="errors.last_name" class="errors">
          <i class="fas fa-exclamation-circle" /> Last Name {{ errors.last_name[0] }}
        </div>
      </div>

      <div class="field">
        <label>Email</label>
        <input v-model.trim="form.user.email" type="email" autofocus>
        <div v-if="errors.email" class="errors">
          <i class="fas fa-exclamation-circle" /> Email {{ errors.email[0] }}
        </div>
      </div>

      <br>
      <p><b>Leave the password field blank if you do not want to change your password</b></p>

      <div class="field">
        <label>Password</label>
        <input v-model.trim="form.user.password" type="password" autofocus>
        <div v-if="errors.password" class="errors">
          <i class="fas fa-exclamation-circle" /> Password {{ errors.password[0] }}
        </div>
      </div>

      <div class="field">
        <label>Password Confirmation</label>
        <input v-model.trim="form.user.password_confirmation" type="password" autofocus>
        <div v-if="errors.password_confirmation" class="errors">
          <i class="fas fa-exclamation-circle" /> Password Confirmation {{ errors.password_confirmation[0] }}
        </div>
      </div>

      <button type="submit">
        Save
      </button>
    </form>
  </article>
</template>

<script>
export default {
  layout: 'user',
  middleware: ['auth'],
  async asyncData ({ $axios }) {
    const response = await $axios.$get('/user')
    return {
      form: {
        user: {
          first_name: response.user.first_name,
          last_name: response.user.last_name,
          email: response.user.email
        }
      }
    }
  },
  data () {
    return {
      form: {
        user: {
          first_name: '',
          last_name: '',
          email: '',
          password: '',
          password_confirmation: ' '
        }
      }
    }
  },
  methods: {
    async saveSettings () {
      await this.$axios.$patch('/user', this.form)
        .then((res) => {
          this.$auth.setUser(res.user)
          this.$router.push('/dashboard')
        }).catch((error) => {
          if (error.response.status === 422) {
            // Do nothing
          }
        })
    }
  }
}
</script>
