<template>
  <header>
    <button class="open_menu" @click.prevent="$store.dispatch('menu/toggleMenu')">
      <span>
        <i class="fa fa-bars" />
      </span>
    </button>
    <nuxt-link to="/dashboard">
      <img src="/images/logo/white-icon.svg" alt="BL">
    </nuxt-link>
    <button class="toggle_user_details" @click.prevent="$store.dispatch('menu/toggleUserDetails')">
      <span>
        <i class="fa fa-user" />
      </span>
    </button>
  </header>
</template>

<script>
export default {
  computed: {
    toggleMenu () {
      return this.$store.getters['menu/toggleMenu']
    },
    toggleUserDetails () {
      return this.$store.getters['menu/toggleUserDetails']
    }
  }
}
</script>

<style lang="scss" scoped>
  HEADER {
    background-color: $navy;
    @include display_flex_center;
    justify-content: space-between;

    IMG {
      max-height: 2.5rem;

      @include tablet {
        max-height: 4rem;
      }
    }

    BUTTON, A {
      max-width: 3rem;
      width: 3rem;
      @include display_flex_center;
      padding: 0;
      margin: 0;
      height: 3rem;
      border: none;
      font-size: 1.4rem;

      SPAN {
        @include display_flex_center;
        width: 3rem;
        height: 3rem;
        box-sizing: border-box;
        transition: 0.5s;
      }

      &:hover {
        background-color: transparent;
        color: $orange;

        SPAN {
          border: 2px solid $orange;
          height: 2.5rem;
          width: 2.5rem;
          border-radius: 50%;
        }
      }

      &.open_menu:hover SPAN {
        border-bottom-left-radius: 0px;
      }

      &.toggle_user_details:hover {
        color: $purple;

        SPAN {
          border-color: $purple;
          border-bottom-right-radius: 0px;
          transition: 0.5s;
        }
      }

      @include tablet {
        height: 5rem;
        max-width: 5rem;
        width: 5rem;
        font-size: 2rem;

        SPAN {
          height: 5rem;
          width: 5rem;
        }

        &:hover SPAN {
          height: 3.5rem;
          width: 3.5rem;
        }
      }
    }

    @include desktop {
      background-color: $white;
      justify-content: flex-end;
      padding-right: 1rem;

      BUTTON {
        color: $purple;
        font-size: 1.8rem;
        width: 5rem;
        height: 5rem;
        max-width: 5rem;

        SPAN {
          width: 3.5rem;
          height: 3.5rem;
          border: 2px solid $purple;
          border-radius: 50%;
          border-bottom-left-radius: 0px;
          transition: 0.5s;

          I {
            transition: 0.5s;
          }
        }

        &:hover {
          SPAN {
            transform: rotate(-45deg);
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 50% !important;
            height: 3.5rem;
            width: 3.5rem;
            background-color: $purple;
            transition: 0.5s;

            I {
              transform: rotate(45deg);
              color: $white;
              transition: 0.5s;
            }
          }
        }
      }

      BUTTON.open_menu, A {
        display: none;
      }
    }
  }
</style>
