<template>
  <nav>
    <nuxt-link to="/dashboard">
      <img src="/images/logo/white-logo.png" alt="Blended Learning">
    </nuxt-link>
    <button class="close_menu" @click.prevent="$store.dispatch('menu/toggleMenu')">
      <span>
        <i class="fas fa-times" />
      </span>
    </button>
    <NavLinks />
    <img src="/images/symbols/navigation.svg" alt="">
  </nav>
</template>

<script>
import NavLinks from '@/components/logged_in/NavLinks'

export default {
  components: {
    NavLinks
  },
  computed: {
    toggleMenu () {
      return this.$store.getters['menu/toggleMenu']
    },
    toggleUserDetails () {
      return this.$store.getters['menu/toggleUserDetails']
    }
  }
}
</script>

<style lang="scss" scoped>
NAV {
  height: 100vh;
  background-color: $navy;
  display: grid;
  grid-template-columns: 1fr 3rem;
  grid-template-rows: 3rem 3rem 1fr;
  position: relative;

  @include tablet {
    grid-template-columns: 1fr 5rem;
    grid-template-rows: 5rem 5rem 1fr;
  }

  > A {
    grid-row: 1 / 3;
    grid-column: 1;
    @include display_flex_start;

    @include desktop {
      grid-column: 1 / 3;
    }

    IMG {
      max-height: 5rem;

      @include tablet {
        max-height: 8rem;
      }
    }
  }

  BUTTON {
    grid-row: 1;
    grid-column: 2;
    @include display_flex_center;
    height: 3rem;
    width: 3rem;
    border: none;
    font-size: 1.4rem;
    padding: 0;
    margin: 0;

    @include tablet {
      width: 5rem;
      height: 5rem;
      font-size: 2rem;
    }

    @include landscape_tablet {
      display: none;
    }

    SPAN {
      @include display_flex_center;
      height: 3rem;
      width: 3rem;
      transition: 0.5s;

      @include tablet {
        width: 5rem;
        height: 5rem;
      }
    }

    &:hover {
      color: $red;
      background-color: transparent;
      transition: 0.5s;

      SPAN {
        height: 2.5rem;
        width: 2.5rem;
        border: 2px solid $red;
        border-radius: 50%;
        border-bottom-right-radius: 0px;
        transition: 0.5s;

        @include tablet {
          width: 3.5rem;
          height: 3.5rem;
        }
      }
    }
  }

  UL {
    grid-column: 1 / 3;
    grid-row: 3;
  }

  > IMG {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    width: 60vw;

    @include landscape_tablet {
      width: 30vw;
    }

    @include desktop {
      width: 12vw;
    }
  }
}
</style>
