<template>
  <ul>
    <li>
      <nuxt-link to="/dashboard" class="dashboard">
        <span class="nav_icon">
          <i class="fas fa-tachometer-alt" />
        </span>
        <span class="text">
          Dashboard
        </span>
      </nuxt-link>
    </li>
    <li v-for="link in links" :key="link.path">
      <nuxt-link :to="link.path" :class="link.class_name">
        <span class="nav_icon">
          <i :class="link.icon" />
        </span>
        <span class="text">
          {{ link.page_name }}
        </span>
      </nuxt-link>
    </li>
  </ul>
</template>

<script>

export default {
  data () {
    return {
      links: [
        {
          path: '/my-courses',
          page_name: 'My Courses',
          icon: 'fas fa-book',
          class_name: 'my_courses'
        },
        {
          path: '/join-a-course',
          page_name: 'Join A Course',
          icon: 'fas fa-search',
          class_name: 'find_course'
        },
        {
          path: '/organisations',
          page_name: 'Organisations',
          icon: 'fas fa-building',
          class_name: 'organisations'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
UL {
  grid-column: 1;
  grid-row:  2;
  margin: 0;
  list-style: none;
  padding: 1rem;

  LI {
    A {
      display: grid;
      grid-template-columns: 4rem 1fr;
      grid-template-rows: 4rem;
      color: $white;
      text-decoration: none;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 400;

      @include desktop {
        grid-template-columns: 3rem 1fr;
        grid-template-rows: 3rem;
      }

      .nav_icon {
        grid-column: 1;
        grid-row: 1;
        font-size: 1.5rem;
        @include display_flex_center;

        @include desktop {
          font-size: 1rem;
        }

        &.red {
          color: $red;
        }
      }

      .text {
        grid-column: 2;
        grid-row: 1;
        font-size: 1.3rem;
        padding-left: 0.5rem;
        @include display_flex_start;

        @include desktop {
          font-size: 1rem;
        }
      }

      &:hover {
        .nav_icon {
          background-color: $white;
          color: $navy;
          border-radius: 50%;
          border-bottom-right-radius: 0px;
          font-size: 1.3rem;
          transition: 0.5s;

          &.red {
            background-color: $red;
            color: $white;
          }
        }
      }

      &.dashboard {
        .nav_icon {
          color: $blue;
        }

        &:hover {
          .nav_icon {
            background-color: $blue;
            color: $white;
          }
        }
      }

      &.my_courses {
        .nav_icon {
          color: $orange;
        }

        &:hover {
          .nav_icon {
            background-color: $orange;
            color: $white;
          }
        }
      }

      &.find_course {
        .nav_icon {
          color: $yellow;
        }

        &:hover {
          .nav_icon {
            background-color: $yellow;
            color: $navy;
          }
        }
      }

      &.organisations {
        .nav_icon {
          color: $green;
        }

        &:hover {
          .nav_icon {
            background-color: $green;
            color: $navy;
          }
        }
      }
    }
  }
}
</style>
