<template>
  <aside>
    <nuxt-link to="/settings">
      <div>
        <i class="fa fa-cog" />
      </div>
      <span>
        Settings
      </span>
    </nuxt-link>
    <a class="logout" @click.prevent="logout">
      <div>
        <i class="fa fa-power-off" />
      </div>
      <span>
        Logout
      </span>
    </a>
  </aside>
</template>

<script>
export default {
  computed: {
    toggleUserDetails () {
      return this.$store.getters['menu/toggleUserDetails']
    }
  },
  methods: {
    logout () {
      this.$auth.logout()
    }
  }
}
</script>

<style lang="scss" scoped>
ASIDE {
  background-color: $light_grey;
  color: $navy;
  padding: 1rem;

  @include desktop {
    background-color: $white;
    width: 100%;
    @include display_flex_end;

  }

  A {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 3rem 1fr;
    grid-template-rows: 3rem;
    color: $navy;
    text-decoration: none;
    font-size: 1.3rem;

    @include desktop {
      font-size: 1.2rem;
      width: auto;
      @include display_flex_center;
      width: 3rem;
      height: 3rem;
    }

    DIV {
      grid-column: 1;
      @include display_flex_center;
      transition: 0.5s;
    }

    SPAN {
      grid-column: 2;
      @include display_flex_start;

      @include desktop{
        display: none;
      }
    }

    &:hover {
      DIV {
        font-size: 1.5rem;
        transition: 0.5s;

        @include desktop {
          font-size: 1.5rem;
          transition: 0.5s;
        }
      }
    }

    &.logout DIV {
      color: $red;
    }
  }
}
</style>
