<template>
  <article>
    <h1>Edit Block</h1>

    <form @submit.prevent="updateBlock">
      <div v-for="(field, key, index) in form.configs" :key="index" class="field">
        <label>{{ blockType.configs[key].name }}</label>
        <select v-if="blockType.configs[key].type === 'select'" v-model="form.configs[key]">
          <option value="">
            --Please Select--
          </option>
          <option v-for="option in blockType.configs[key].options" :key="option.value" :value="option.value">
            {{ option.label }}
          </option>
        </select>
        <vue-simplemde v-else-if="blockType.configs[key].type === 'markdown'" v-model="form.configs[key]" />
        <select v-else-if="blockType.configs[key].type === 'boolean'" v-model="form.configs[key]">
          <option value="false">
            No
          </option>
          <option value="true">
            Yes
          </option>
        </select>
        <input v-else v-model="form.configs[key]" type="text">
      </div>

      <div class="field">
        <label class="checkbox">
          <input type="checkbox" v-model="form.block.show_in_slides">
          <div>
            <span>
              <i class="fas fa-check" />
            </span>
          </div>
          <span>
            Show in Slides
          </span>
        </label>
      </div>

      <button type="submit">
        Save
      </button>
    </form>

    <nuxt-link :to="{ name: 'organisations-id-courses-course_id-lessons-lesson_id-sections-section_id', params: { id: course.organisation.id, course_id: course.id, lesson_id: lesson.id, section_id: section.id } }" class="btn back">
      <i class="fas fa-arrow-left" /> Back
    </nuxt-link>
  </article>
</template>

<script>
export default {
  layout: 'user',
  middleware: ['auth'],
  async asyncData ({ $axios, params }) {
    const response = await $axios.$get(`/organisations/organisations/${params.id}/courses/${params.course_id}/lessons/${params.lesson_id}/sections/${params.section_id}/blocks/${params.block_id}`)
    return {
      course: response.course,
      lesson: response.lesson,
      section: response.section,
      block: response.block,
      blockType: response.block_type,
      form: {
        block: {
          show_in_slides: response.block.show_in_slides
        },
        configs: response.block.configs
      }
    }
  },
  data () {
    return {
      course: '',
      lesson: '',
      section: '',
      block: '',
      blockType: '',
      form: {
        block: {
          show_in_slides: ''
        },
        configs: ''
      }
    }
  },
  methods: {
    async updateBlock () {
      await this.$axios.$patch(`/organisations/organisations/${this.course.organisation.id}/courses/${this.course.id}/lessons/${this.lesson.id}/sections/${this.section.id}/blocks/${this.block.id}`, this.form)
        .then((res) => {
          this.$router.push(`/organisations/${this.course.organisation.id}/courses/${this.course.id}/lessons/${this.lesson.id}/sections/${this.section.id}`)
        }).catch((error) => {
          // Check that the error is 422
          if (error.response.status === 422) {
            // Do Nothing
          } else {
            this.$router.push('/platform-error')
          }
        })
    }
  }
}
</script>
