<template>
  <article>
    <h1>Edit Lesson</h1>
    <form @submit.prevent="update">
      <div class="field">
        <label>Title</label>
        <input v-model.trim="form.lesson.title" type="text" autofocus>
        <div v-if="errors.title" class="errors">
          <i class="fas fa-exclamation-circle" /> Title {{ errors.title[0] }}
        </div>
      </div>

      <div class="field">
        <label>Description</label>
        <client-only>
          <vue-simplemde v-model="form.lesson.description" />
        </client-only>
      </div>

      <button type="submit">
        Update Lesson
      </button>
    </form>

    <nuxt-link :to="{ name: 'organisations-id-courses-course_id-lessons-lesson_id', params: { id: course.organisation.id, course_id: course.id, lesson_id: form.lesson.id } }" class="btn back">
      <i class="fas fa-arrow-left" /> Back
    </nuxt-link>
  </article>
</template>

<script>
export default {
  layout: 'user',
  middleware: ['auth'],
  async asyncData ({ $axios, params }) {
    const response = await $axios.$get(`/organisations/organisations/${params.id}/courses/${params.course_id}/lessons/${params.lesson_id}`)
    console.log(response)
    return {
      course: response.course,
      form: {
        lesson: response.lesson
      }
    }
  },
  data () {
    return {
      course: '',
      form: {
        lesson: {
          title: '',
          description: ''
        }
      }
    }
  },
  methods: {
    async update () {
      await this.$axios.$patch(`/organisations/organisations/${this.course.organisation.id}/courses/${this.course.id}/lessons/${this.form.lesson.id}`, this.form)
        .then((res) => {
          this.$router.push(`/organisations/${this.course.organisation.id}/courses/${this.course.id}/lessons/${this.form.lesson.id}`)
        }).catch((error) => {
          // Check that the error is 422
          if (error.response.status === 422) {
            // Do Nothing
          } else {
            this.$router.push('/platform-error')
          }
        })
    }
  }
}
</script>
