<template>
  <article>
    <section class="header">
      <h1>{{ lesson.title }}</h1>
      <div v-if="course.can_edit" class="actions">
        <nuxt-link :to="{ name: 'organisations-id-courses-course_id-lessons-lesson_id-edit', params: { id: course.organisation.id, course_id: course.id, lesson_id: lesson.id } }" class="btn warning">
          Edit
        </nuxt-link>
        <button @click.prevent="presentLesson" class="btn present">
          <i class="fas fa-desktop" />
          Present
        </button>
      </div>
    </section>

    <div class="holder">
      <section class="info">
        <div class="description"  v-html="$md.render(lesson.description)" />
      </section>
      <section class="sections">
        <h2>Sections</h2>
        <form v-if="course.can_edit" @submit.prevent="createSection" class="create_section">
          <div class="field">
            <label>Title</label>
            <input v-model.trim="newSection.section.title" type="text" name="section_title" autofocus>
            <div v-if="errors.title" class="errors">
              <i class="fas fa-exclamation-circle" /> Title {{ errors.title[0] }}
            </div>
          </div>

          <div class="actions">
            <button type="submit" class="btn success">
              Create Section
            </button>
          </div>
        </form>

        <ul>
          <li v-for="section in lesson.sections" :key="section.id">
            <nuxt-link :to="{ name: 'organisations-id-courses-course_id-lessons-lesson_id-sections-section_id', params: { id: course.organisation.id, course_id: course.id, lesson_id: lesson.id, section_id: section.id } }">
              {{ section.title }}
            </nuxt-link>
            <button v-if="course.can_edit" class="up" @click.prevent="moveUp(section.id)">
              <span>
                <i class="fas fa-chevron-up" />
              </span>
            </button>
            <button v-if="course.can_edit" class="down" @click.prevent="moveDown(section.id)">
              <span>
                <i class="fas fa-chevron-down" />
              </span>
            </button>
            <button v-if="course.can_edit" class="delete" @click.prevent="deleteSection(section.id)">
              <span>
                <i class="fas fa-trash-alt" />
              </span>
            </button>
          </li>
        </ul>
      </section>
    </div>

    <nuxt-link :to="{ name: 'organisations-id-courses-course_id', params: { id: course.organisation.id, course_id: course.id } }" class="btn back">
      <i class="fas fa-arrow-left" /> Back
    </nuxt-link>
  </article>
</template>

<script>
export default {
  layout: 'user',
  middleware: ['auth'],
  async asyncData ({ $axios, params }) {
    const response = await $axios.$get(`/organisations/organisations/${params.id}/courses/${params.course_id}/lessons/${params.lesson_id}`)
    return {
      course: response.course,
      lesson: response.lesson
    }
  },
  data () {
    return {
      course: '',
      lesson: '',
      newSection: {
        section: {
          title: ''
        }
      }
    }
  },
  methods: {
    async createSection () {
      await this.$axios.$post(`/organisations/organisations/${this.course.organisation.id}/courses/${this.course.id}/lessons/${this.lesson.id}/sections`, this.newSection)
        .then((res) => {
          this.lesson = res.lesson
          this.newSection.section.title = ''
        }).catch((error) => {
          // Check that the error is 422
          if (error.response.status === 422) {
            // Do Nothing
          } else {
            this.$router.push('/platform-error')
          }
        })
    },
    async moveUp (id) {
      await this.$axios.$patch(`/organisations/organisations/${this.course.organisation.id}/courses/${this.course.id}/lessons/${this.lesson.id}/sections/${id}/move_up`)
        .then((res) => {
          this.lesson.sections = res.sections
        }).catch((error) => {
          // Check that the error is 422
          if (error.response.status === 422) {
            // Do Nothing
          } else {
            this.$router.push('/platform-error')
          }
        })
    },
    async moveDown (id) {
      await this.$axios.$patch(`/organisations/organisations/${this.course.organisation.id}/courses/${this.course.id}/lessons/${this.lesson.id}/sections/${id}/move_down`)
        .then((res) => {
          this.lesson.sections = res.sections
        }).catch((error) => {
          // Check that the error is 422
          if (error.response.status === 422) {
            // Do Nothing
          } else {
            this.$router.push('/platform-error')
          }
        })
    },
    presentLesson () {
      this.$store.dispatch('presentation/setupPresentation', { path: this.$nuxt.$route.path, lesson: this.lesson.id })
      this.$router.push(`/present/${this.lesson.id}/title`)
    },
    async deleteSection (sectionId) {
      await this.$axios.$delete(`/organisations/organisations/${this.course.organisation.id}/courses/${this.course.id}/lessons/${this.lesson.id}/sections/${sectionId}`)
        .then((res) => {
          this.lessons.sections = res.sections
        }).catch((error) => {
          // Check that the error is 422
          if (error.response && error.response.status === 422) {
            // Do Nothing
          }
        })
    }
  }
}
</script>

<style lang="scss" scoped>
  .header {
    H1 {
      font-size: 3rem;
      margin: 0;
    }

    @include desktop {
      display: grid;
      grid-template-columns: 3fr 2fr;
      min-height: 5rem;
      margin-bottom: 2rem;

      H1 {
        @include display_flex_start;
      }

      .actions {
        @include display_flex_end;
        A {
          margin-left: 0.5rem;
        }
      }
    }
  }

  .back {
    margin-top: 2rem;
  }

  .create_section {
    display: grid;

    @include landscape_tablet {
      grid-template-columns: 2fr 1fr;
      .field {
        height: 5.75rem;
      }
    }

    @include desktop {
      grid-template-columns: 1fr auto;
    }

    .actions {
      @include display_flex_end;
      padding-left: 0.5rem;
    }
  }

  .sections {
    H2 {
      background-color: $navy;
      color: $white;
      margin: 0;
      padding: 0.5rem 0.3rem;
      text-transform: uppercase;
    }

    UL {
      list-style: none;
      padding: 0;
      margin: 0;

      LI {
        display: grid;
        grid-template-columns: 1fr 3rem 3rem 3rem;
        min-height: 3rem;
        background-color: $light_grey;

        &:nth-child(even) {
          background-color: $grey;
        }

        A {
          @include display_flex_start;
          color: $navy;
          text-decoration: none;
          padding: 0.5rem;
        }

        .up {
          grid-column: 2;
          color: $blue;
        }

        .down {
          grid-column: 3;
          color: $pink;
        }

        .delete {
          grid-column: 4;
          color: $red;
        }

        BUTTON {
          border: none;
          width: 100%;
          padding: 0;
          margin: 0;
          @include display_flex_center;

          SPAN {
            width: 3rem;
            height: 3rem;
            @include display_flex_center;
          }

          &:hover {
            background-color: transparent;

            SPAN {
              height: 1.5rem;
              width: 1.5rem;
              border: 2px solid $blue;
              border-radius: 50%;
              border-top-left-radius: 0px;
              transition: 0.5s;
              transform: rotate(45deg);

              I {
                transform: rotate(-45deg);
                transition: 0.5s;
              }
            }
          }

          &.down:hover SPAN {
            border-radius: 50%;
            border-bottom-right-radius: 0px;
            border-color: $pink;
          }

          &.delete:hover SPAN {
            border-radius: 50%;
            border-top-right-radius: 0px;
            border-color: $red;
          }
        }

        &:first-child {
          .up {
            display: none;
          }
        }

        &:last-child {
          .down {
            display: none;
          }
        }
      }
    }
  }

  @include desktop {
    ARTICLE .holder {
      display: grid;
      grid-template-columns: 3fr 2fr;
    }
  }
</style>
