<template>
  <article>
    <h1>Create Organisation</h1>
    <form @submit.prevent="create">
      <div class="field">
        <label>Name</label>
        <input v-model.trim="form.organisation.name" type="text" autofocus name="organisation_name">
        <div v-if="errors.name" class="errors">
          <i class="fas fa-exclamation-circle" /> Name {{ errors.name[0] }}
        </div>
      </div>

      <div class="field">
        <label>Description</label>
        <client-only>
          <vue-simplemde v-model="form.organisation.description" />
        </client-only>
      </div>

      <div class="field">
        <label>Sign up method</label>
        <select v-model="form.organisation.sign_up_mode" name="sign_up_method">
          <option value="">
            -- Please Select --
          </option>
          <option v-for="option in mode_options" :key="option.id" :value="option.id">
            {{ option.label }}
          </option>
        </select>
        <div v-if="errors.name" class="errors">
          <i class="fas fa-exclamation-circle" /> Sign up mode {{ errors.name[0] }}
        </div>
      </div>

      <div class="field">
        <label>Sign up code</label>
        <input v-model.trim="form.organisation.sign_up_code" type="text" autofocus>
        <div v-if="errors.sign_up_code" class="errors">
          <i class="fas fa-exclamation-circle" /> Sign up code {{ errors.name[0] }}
        </div>
      </div>

      <button type="submit">
        Create Organisation
      </button>
    </form>
  </article>
</template>

<script>

export default {
  layout: 'user',
  middleware: ['auth'],
  data () {
    return {
      form: {
        organisation: {
          name: '',
          description: '',
          sign_up_mode: '',
          sign_up_code: ''
        }
      },
      mode_options: [
        { id: 'no_sign_up', label: 'None' },
        { id: 'code', label: 'Code' }
      ]
    }
  },
  methods: {
    async create () {
      await this.$axios.$post('/organisations/organisations', this.form)
        .then((res) => {
          this.$router.push('/organisations')
        }).catch((error) => {
          // Check that the error is 422
          if (error.response.status === 422) {
            // Do Nothing
          } else {
            this.$router.push('/platform-error')
          }
        })
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
