<template>
  <article>
    <section class="header">
      <h1>My Organisations</h1>
      <section class="actions">
        <nuxt-link v-if="$auth.user.user_type != 'Learner'" to="/organisations/create" class="btn success">
          <span>
            <i class="fa fa-plus" /> Create Organisation
          </span>
        </nuxt-link>
        <nuxt-link to="/organisations/join-organisation" class="btn info">
          Join Organisation
        </nuxt-link>
      </section>
    </section>
    <div v-if="organisations.length > 0">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th />
          </tr>
        </thead>
        <tbody>
          <tr v-for="organisation in organisations" :key="organisation.id" :data-organisation="organisation.name">
            <td>{{ organisation.name }}</td>
            <td>{{ organisation.snippet }}</td>
            <td class="buttons">
              <nuxt-link :to="{name: 'organisations-id', params: { id: organisation.id }}" class="btn info">
                View
              </nuxt-link>
              <button class="btn danger" @click="remove(organisation.id)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div v-else>
      You have no organisations
    </div>
  </article>
</template>

<script>
export default {
  layout: 'user',
  async asyncData ({ $axios }) {
    const response = await $axios.$get('/organisations/organisations')
    return {
      organisations: response.organisations
    }
  },
  data () {
    return {
      organisations: []
    }
  },
  methods: {
    async remove (id) {
      await this.$axios.$delete(`/organisations/organisations/${id}`)
      const response = await this.$axios.$get('/organisations/organisations')
      this.organisations = response.organisations
    }
  }
}
</script>

<style lang="scss" scoped>
  SECTION.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin-bottom: 0.5rem;

    @include landscape_tablet {
      grid-template-columns: 2fr 1fr;
      grid-template-rows: auto;
    }

    H1 {
      font-size: 2.5rem;
      margin: 0;
      padding: 1rem 0;

      @include landscape_tablet {
        grid-row: 1;
        grid-column: 1;
      }
    }

    SECTION.actions {
      @include landscape_tablet {
        @include display_flex_end;
        align-items: stretch;
        grid-row: 1;
        grid-column: 2;

        > A {
          @include display_flex_center;
        }
      }
    }
  }
</style>
