<template>
  <article class="center_content">
    <div>
      <h1>Join Organisation</h1>
      <form @submit.prevent="join">
        <div class="field">
          <label>Organisation Code</label>
          <input v-model.trim="form.organisation.code" type="text" name="organisation_code" autofocus>
          <div v-if="errors.code" class="errors">
            <i class="fas fa-exclamation-circle" /> Organisation code {{ errors.code[0] }}
          </div>
        </div>

        <div v-if="organisation">
          <h2>The organisation is: {{ organisation.name }}</h2>
          <p>Are you sure you want to join this organisation?</p>
          <button type="submit">
            Yes
          </button>
          <button class="danger" @click.prevent="reset">
            No
          </button>
        </div>
        <div v-else>
          <button type="submit">
            Join Organisation
          </button>
        </div>
      </form>
    </div>
  </article>
</template>

<script>

export default {
  layout: 'user',
  middleware: ['auth'],
  data () {
    return {
      organisation: '',
      form: {
        organisation: {
          code: ''
        }
      }
    }
  },
  methods: {
    reset () {
      this.organisation = ''
    },
    async join () {
      // Check to see if the organisation is present
      if (this.organisation) {
        await this.$axios.$post('/organisations/organisations/join_organisation', this.form)
          .then((res) => {
            this.$router.push('/organisations')
          }).catch((error) => {
            // Check that the error is 422
            if (error.response.status === 422) {
              // Do Nothing
            } else {
              this.$router.push('/platform-error')
            }
          })
      } else {
        await this.$axios.$post('/organisations/organisations/joining_code', this.form)
          .then((res) => {
            this.organisation = res.organisation
          }).catch((error) => {
            // Check that the error is 422
            if (error.response.status === 422) {
              // Do Nothing
            } else {
              this.$router.push('/platform-error')
            }
          })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .center_content {
    height: 100%;
    width: 100%;
    @include display_flex_center;

    > DIV {
      width: 90%;
    }
  }
</style>
