<template>
  <section v-if="block.block_type.system_name === 'banner'">
    <Banner
      :text="block.configs.text"
      :header-style="block.configs.heading_type"
      :background-colour="block.configs.background_colour"
      :text-colour="block.configs.text_colour"
    />
  </section>
  <section v-else-if="block.block_type.system_name === 'image_block'">
    <ImageBlock
      :link-to-image="block.configs.image_link"
      :image-description="block.configs.image_description"
      :caption="block.configs.caption"
    />
  </section>
  <section v-else-if="block.block_type.system_name === 'link_block'">
    <LinkBlock
      :link-path="block.configs.link_path"
      :link-text="block.configs.link_text"
      :background-colour="block.configs.background_colour"
      :text-colour="block.configs.text_colour"
    />
  </section>
  <section v-else-if="block.block_type.system_name === 'image_text_block'">
    <ImageTextBlock
      :image-link="block.configs.image_link"
      :image-description="block.configs.image_description"
      :caption="block.configs.caption"
      :text="block.configs.text"
      :background-colour="block.configs.background_colour"
      :text-colour="block.configs.text_colour"
      :image-on-left="block.configs.image_on_left"
    />
  </section>
  <section v-else-if="block.block_type.system_name === 'text_block'">
    <TextBlock
      :text="block.configs.text"
      :background-colour="block.configs.background_colour"
      :text-colour="block.configs.text_colour"
    />
  </section>
  <section v-else-if="block.block_type.system_name === 'quote_block'">
    <QuoteBlock
      :quote="block.configs.quote"
      :author="block.configs.author"
      :background-colour="block.configs.background_colour"
      :text-colour="block.configs.text_colour"
    />
  </section>
  <section v-else-if="block.block_type.system_name === 'video_block'">
    <VideoBlock
      :videoLink="block.configs.video_link"
      :caption="block.configs.caption"
    />
  </section>
</template>

<script>
import Banner from '@/components/blocks/block-types/banner'
import ImageBlock from '@/components/blocks/block-types/image-block'
import LinkBlock from '@/components/blocks/block-types/link-block'
import ImageTextBlock from '@/components/blocks/block-types/image-text-block'
import TextBlock from '@/components/blocks/block-types/text-block'
import QuoteBlock from '@/components/blocks/block-types/quote-block'
import VideoBlock from '@/components/blocks/block-types/video-block'

export default {
  components: {
    Banner,
    ImageBlock,
    LinkBlock,
    ImageTextBlock,
    TextBlock,
    QuoteBlock,
    VideoBlock
  },
  props: {
    block: {
      type: Object,
      required: true
    }
  }
}
</script>
